openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Ucp API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: ucp
paths:
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1Carts
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUcpProxyV1CartsbyId
      summary: GET /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CartsbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteUcpProxyV1CartsbyId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteUcpProxyV1CartsbyId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}/cancel:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CartsbyIdCancel
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/carts/{id}/cancel
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/catalog/lookup:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CatalogLookup
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/catalog/lookup
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/catalog/product:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CatalogProduct
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/catalog/product
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/catalog/search:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CatalogSearch
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/catalog/search
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessions
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessionsbyId
      summary: GET /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessionsbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessionsbyId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessionsbyId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}/cancel:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessionsbyIdCancel
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}/cancel
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}/complete:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1CheckoutSessionsbyIdComplete
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/checkout-sessions/{id}/complete
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/webhooks/order:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpProxyV1WebhooksOrder
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/proxy/v1/webhooks/order
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessions
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessionsbyId
      summary: GET /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessionsbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessionsbyId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessionsbyId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}/cancel:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessionsbyIdCancel
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}/cancel
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}/complete:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUcpV1CheckoutSessionsbyIdComplete
      summary: POST /wpcom/v2/sites/{wpcom_site}/ucp/v1/checkout-sessions/{id}/complete
      tags:
      - ucp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
