openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Webhook Airtable Create API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: webhook-airtable-create
paths:
  /wpcom/v2/webhook-airtable-create:
    post:
      operationId: postWpcomV2WebhookAirtableCreate
      summary: POST /wpcom/v2/webhook-airtable-create
      tags:
      - webhook-airtable-create
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/webhook-airtable-create/create-webhook:
    post:
      operationId: postWpcomV2WebhookAirtableCreateCreateWebhook
      summary: POST /wpcom/v2/webhook-airtable-create/create-webhook
      tags:
      - webhook-airtable-create
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                table_id:
                  type: string
                  description: Airtable table ID.
                base_id:
                  type: string
                  description: Airtable base ID.
                url:
                  type: string
                  description: URL to direct new webhook to.
              required:
              - table_id
              - base_id
              - url
  /wpcom/v2/webhook-airtable-create/patch:
    post:
      operationId: postWpcomV2WebhookAirtableCreatePatch
      summary: POST /wpcom/v2/webhook-airtable-create/patch
      tags:
      - webhook-airtable-create
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                table_id:
                  type: string
                  description: Airtable table ID.
                base_id:
                  type: string
                  description: Airtable base ID.
                records:
                  type: array
                  items: {}
                  description: A record to be PATCHED.
              required:
              - table_id
              - base_id
              - records
    put:
      operationId: putWpcomV2WebhookAirtableCreatePatch
      summary: PUT /wpcom/v2/webhook-airtable-create/patch
      tags:
      - webhook-airtable-create
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                table_id:
                  type: string
                  description: Airtable table ID.
                base_id:
                  type: string
                  description: Airtable base ID.
                records:
                  type: array
                  items: {}
                  description: A record to be PATCHED.
              required:
              - table_id
              - base_id
              - records
    patch:
      operationId: patchWpcomV2WebhookAirtableCreatePatch
      summary: PATCH /wpcom/v2/webhook-airtable-create/patch
      tags:
      - webhook-airtable-create
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                table_id:
                  type: string
                  description: Airtable table ID.
                base_id:
                  type: string
                  description: Airtable base ID.
                records:
                  type: array
                  items: {}
                  description: A record to be PATCHED.
              required:
              - table_id
              - base_id
              - records
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
