openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace External Media API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: external-media
paths:
  /wpcom/v2/sites/{wpcom_site}/external-media/connection/{service}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteExternalMediaConnectionbyService
      summary: GET /wpcom/v2/sites/{wpcom_site}/external-media/connection/{service}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2SitesbyWpcomSiteExternalMediaConnectionbyService
      summary: DELETE /wpcom/v2/sites/{wpcom_site}/external-media/connection/{service}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/external-media/connection/{service}/picker_status:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteExternalMediaConnectionbyServicePickerStatus
      summary: GET /wpcom/v2/sites/{wpcom_site}/external-media/connection/{service}/picker_status
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/external-media/copy/{service}:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteExternalMediaCopybyService
      summary: POST /wpcom/v2/sites/{wpcom_site}/external-media/copy/{service}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                media:
                  type: array
                  items:
                    type: array
                  description: Media data to copy.
                post_id:
                  type: number
                  description: The post ID to attach the upload to.
                should_proxy:
                  type: boolean
                  default: false
                  description: Whether to proxy the media request.
              required:
              - media
  /wpcom/v2/sites/{wpcom_site}/external-media/list/{service}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteExternalMediaListbyService
      summary: GET /wpcom/v2/sites/{wpcom_site}/external-media/list/{service}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Media collection search term.
      - name: number
        in: query
        required: false
        schema:
          type: number
          default: 20
        description: Number of media items in the request
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: page_handle
        in: query
        required: false
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        schema:
          type: string
        description: Session id of a service, currently only Google Photos Picker
  /wpcom/v2/sites/{wpcom_site}/external-media/proxy/{service}:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteExternalMediaProxybyService
      summary: POST /wpcom/v2/sites/{wpcom_site}/external-media/proxy/{service}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
              required:
              - url
  /wpcom/v2/sites/{wpcom_site}/external-media/session/{service}:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteExternalMediaSessionbyService
      summary: POST /wpcom/v2/sites/{wpcom_site}/external-media/session/{service}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/external-media/session/{service}/{session_id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteExternalMediaSessionbyServicebySessionId
      summary: GET /wpcom/v2/sites/{wpcom_site}/external-media/session/{service}/{session_id}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
      - name: session_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2SitesbyWpcomSiteExternalMediaSessionbyServicebySessionId
      summary: DELETE /wpcom/v2/sites/{wpcom_site}/external-media/session/{service}/{session_id}
      tags:
      - external-media
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: service
        in: path
        required: true
        schema:
          type: string
      - name: session_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
