openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Mobile API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: mobile
paths:
  /wpcom/v2/mobile/feature-announcements:
    get:
      operationId: getWpcomV2MobileFeatureAnnouncements
      summary: GET /wpcom/v2/mobile/feature-announcements
      tags:
      - mobile
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: _locale
        in: query
        required: false
        schema:
          type: string
        description: locale of the client app, also variations are accepted but filtered out in logic
      - name: app_id
        in: query
        required: false
        schema:
          type: integer
        description: unique application id of the client app (for example getting a 1 here is WORDPRESS_ANDROID_APP_ID)
  /wpcom/v2/mobile/feature-flags:
    get:
      operationId: getWpcomV2MobileFeatureFlags
      summary: GET /wpcom/v2/mobile/feature-flags
      tags:
      - mobile
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: device_id
        in: query
        required: false
        schema:
          type: string
      - name: platform
        in: query
        required: false
        schema:
          type: string
      - name: build_number
        in: query
        required: false
        schema:
          type: string
      - name: marketing_version
        in: query
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        schema:
          type: string
      - name: os_version
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/mobile/migration:
    post:
      operationId: postWpcomV2MobileMigration
      summary: POST /wpcom/v2/mobile/migration
      tags:
      - mobile
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/mobile/remote-config:
    get:
      operationId: getWpcomV2MobileRemoteConfig
      summary: GET /wpcom/v2/mobile/remote-config
      tags:
      - mobile
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/mobile/resolve-reader-url:
    get:
      operationId: getWpcomV2MobileResolveReaderUrl
      summary: GET /wpcom/v2/mobile/resolve-reader-url
      tags:
      - mobile
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        description: The reader URL to resolve.
  /wpcom/v2/mobile/share-app-link:
    get:
      operationId: getWpcomV2MobileShareAppLink
      summary: GET /wpcom/v2/mobile/share-app-link
      tags:
      - mobile
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          default: en
      - name: app
        in: query
        required: false
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
