openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Pattern Assembler API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: pattern-assembler
paths:
  /wpcom/v2/pattern-assembler/ai/custom-gpt/generate:
    post:
      operationId: postWpcomV2PatternAssemblerAiCustomGptGenerate
      summary: POST /wpcom/v2/pattern-assembler/ai/custom-gpt/generate
      tags:
      - pattern-assembler
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                header_pattern:
                  type: number
                  enum: []
                  description: ID of the pattern used for a header on all pages.
                footer_pattern:
                  type: number
                  enum: []
                  description: ID of the pattern used for a footer on all pages.
                home_patterns:
                  type: array
                  items:
                    type: number
                  description: List of patterns used on the home page.
                style:
                  type: string
                  enum: []
                  description: Visual color style of the website.
                font:
                  type: string
                  enum: []
                  description: Font choice for the website.
                pages:
                  type: array
                  items:
                    type: object
                  description: List of pages on the site, apart from the "Home" page.
                site_title:
                  type: string
                  description: Title of the site, used as the name of the blog.
                site_tagline:
                  type: string
                  description: Description of the site, used as a tagline.
  /wpcom/v2/pattern-assembler/ai/custom-gpt/get_schema:
    get:
      operationId: getWpcomV2PatternAssemblerAiCustomGptGetSchema
      summary: GET /wpcom/v2/pattern-assembler/ai/custom-gpt/get_schema
      tags:
      - pattern-assembler
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/pattern-assembler/ai/custom-gpt/patterns:
    get:
      operationId: getWpcomV2PatternAssemblerAiCustomGptPatterns
      summary: GET /wpcom/v2/pattern-assembler/ai/custom-gpt/patterns
      tags:
      - pattern-assembler
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/pattern-assembler/ai/custom-gpt/styles:
    get:
      operationId: getWpcomV2PatternAssemblerAiCustomGptStyles
      summary: GET /wpcom/v2/pattern-assembler/ai/custom-gpt/styles
      tags:
      - pattern-assembler
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/pattern-assembler/ai/latest/generate:
    post:
      operationId: postWpcomV2PatternAssemblerAiLatestGenerate
      summary: POST /wpcom/v2/pattern-assembler/ai/latest/generate
      tags:
      - pattern-assembler
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: Description of the site to generate pages for.
                patterns_version:
                  default: '1'
                  description: Version of patterns to use.
              required:
              - description
  /wpcom/v2/pattern-assembler/ai/v5/generate:
    post:
      operationId: postWpcomV2PatternAssemblerAiV5Generate
      summary: POST /wpcom/v2/pattern-assembler/ai/v5/generate
      tags:
      - pattern-assembler
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: Description of the site to generate pages for.
                patterns_version:
                  default: '1'
                  description: Version of patterns to use.
              required:
              - description
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
