openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Podcast API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: podcast
paths:
  /wpcom/v2/sites/{wpcom_site}/podcast/settings:
    get:
      operationId: getWpcomV2SitesbyWpcomSitePodcastSettings
      summary: GET /wpcom/v2/sites/{wpcom_site}/podcast/settings
      tags:
      - podcast
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSitePodcastSettings
      summary: POST /wpcom/v2/sites/{wpcom_site}/podcast/settings
      tags:
      - podcast
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                podcasting_category_id:
                  type: integer
                podcasting_title:
                  type: string
                podcasting_talent_name:
                  type: string
                podcasting_summary:
                  type: string
                podcasting_copyright:
                  type: string
                podcasting_explicit:
                  type: string
                podcasting_image:
                  type: string
                podcasting_image_id:
                  type: integer
                podcasting_category_1:
                  type: string
                podcasting_category_2:
                  type: string
                podcasting_category_3:
                  type: string
                podcasting_email:
                  type: string
                podcasting_show_urls:
                  type: object
                podcasting_show_states:
                  type: object
    put:
      operationId: putWpcomV2SitesbyWpcomSitePodcastSettings
      summary: PUT /wpcom/v2/sites/{wpcom_site}/podcast/settings
      tags:
      - podcast
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                podcasting_category_id:
                  type: integer
                podcasting_title:
                  type: string
                podcasting_talent_name:
                  type: string
                podcasting_summary:
                  type: string
                podcasting_copyright:
                  type: string
                podcasting_explicit:
                  type: string
                podcasting_image:
                  type: string
                podcasting_image_id:
                  type: integer
                podcasting_category_1:
                  type: string
                podcasting_category_2:
                  type: string
                podcasting_category_3:
                  type: string
                podcasting_email:
                  type: string
                podcasting_show_urls:
                  type: object
                podcasting_show_states:
                  type: object
    patch:
      operationId: patchWpcomV2SitesbyWpcomSitePodcastSettings
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/podcast/settings
      tags:
      - podcast
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                podcasting_category_id:
                  type: integer
                podcasting_title:
                  type: string
                podcasting_talent_name:
                  type: string
                podcasting_summary:
                  type: string
                podcasting_copyright:
                  type: string
                podcasting_explicit:
                  type: string
                podcasting_image:
                  type: string
                podcasting_image_id:
                  type: integer
                podcasting_category_1:
                  type: string
                podcasting_category_2:
                  type: string
                podcasting_category_3:
                  type: string
                podcasting_email:
                  type: string
                podcasting_show_urls:
                  type: object
                podcasting_show_states:
                  type: object
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
