openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Mobile Support API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: mobile-support
paths:
  /wpcom/v2/mobile-support/attachments/{attachment_id}:
    get:
      operationId: getWpcomV2MobileSupportAttachmentsbyAttachmentId
      summary: GET /wpcom/v2/mobile-support/attachments/{attachment_id}
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: attachment_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/mobile-support/conversations:
    get:
      operationId: getWpcomV2MobileSupportConversations
      summary: GET /wpcom/v2/mobile-support/conversations
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2MobileSupportConversations
      summary: POST /wpcom/v2/mobile-support/conversations
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: The subject of the conversation.
                message:
                  type: string
                  description: The message to add to the chat
                application:
                  type: string
                  enum:
                  - woocommerce
                  - wordpress
                  - jetpack
                  description: The application that is creating the conversation.
                wpcom_site_id:
                  type: integer
                  description: The WordPress.com site ID that the conversation relates to.
                tags:
                  type: object
                  description: An application-specified set of tags to add to the conversation.
                encrypted_log_ids:
                  type: array
                  items:
                    type: string
                  description: An array of encrypted log IDs to attach to the conversation.
              required:
              - subject
              - message
              - application
  /wpcom/v2/mobile-support/conversations/{conversation_id}:
    get:
      operationId: getWpcomV2MobileSupportConversationsbyConversationId
      summary: GET /wpcom/v2/mobile-support/conversations/{conversation_id}
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2MobileSupportConversationsbyConversationId
      summary: POST /wpcom/v2/mobile-support/conversations/{conversation_id}
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The message to add to the chat
              required:
              - message
  /wpcom/v2/mobile-support/eligibility:
    get:
      operationId: getWpcomV2MobileSupportEligibility
      summary: GET /wpcom/v2/mobile-support/eligibility
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/mobile-support/unified-conversations:
    get:
      operationId: getWpcomV2MobileSupportUnifiedConversations
      summary: GET /wpcom/v2/mobile-support/unified-conversations
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/mobile-support/unified-conversations/{conversation_id}:
    get:
      operationId: getWpcomV2MobileSupportUnifiedConversationsbyConversationId
      summary: GET /wpcom/v2/mobile-support/unified-conversations/{conversation_id}
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2MobileSupportUnifiedConversationsbyConversationId
      summary: POST /wpcom/v2/mobile-support/unified-conversations/{conversation_id}
      tags:
      - mobile-support
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The message to add to the chat
                encrypted_log_ids:
                  type: array
                  items:
                    type: string
                  description: An array of encrypted log IDs to attach to the conversation. Only applied when the reply routes to a Zendesk ticket (e.g. an escalated conversation).
              required:
              - message
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
