openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Partner API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-partner
paths:
  /wpcom/v2/jetpack-partner/coupon/v1/coupon:
    get:
      operationId: getWpcomV2JetpackPartnerCouponV1Coupon
      summary: GET /wpcom/v2/jetpack-partner/coupon/v1/coupon
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: coupon_code
        in: query
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2JetpackPartnerCouponV1Coupon
      summary: POST /wpcom/v2/jetpack-partner/coupon/v1/coupon
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preset:
                  type: string
              required:
              - preset
    delete:
      operationId: deleteWpcomV2JetpackPartnerCouponV1Coupon
      summary: DELETE /wpcom/v2/jetpack-partner/coupon/v1/coupon
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: coupon_code
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partner/coupon/v1/coupons:
    post:
      operationId: postWpcomV2JetpackPartnerCouponV1Coupons
      summary: POST /wpcom/v2/jetpack-partner/coupon/v1/coupons
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preset:
                  type: string
                quantity:
                  type: integer
              required:
              - preset
              - quantity
    get:
      operationId: getWpcomV2JetpackPartnerCouponV1Coupons
      summary: GET /wpcom/v2/jetpack-partner/coupon/v1/coupons
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: coupon_codes
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
  /wpcom/v2/jetpack-partner/coupon/v1/presets:
    get:
      operationId: getWpcomV2JetpackPartnerCouponV1Presets
      summary: GET /wpcom/v2/jetpack-partner/coupon/v1/presets
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/sites/{wpcom_site}/jetpack-partner/coupon/v1/site/coupon:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackPartnerCouponV1SiteCoupon
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-partner/coupon/v1/site/coupon
      tags:
      - jetpack-partner
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: coupon_code
        in: query
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
