openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Rewind API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: rewind
paths:
  /wpcom/v2/sites/{wpcom_site}/rewind:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewind
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/abspath:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindAbspath
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/abspath
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/filtered/prepare:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindBackupFilteredPrepare
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/backup/filtered/prepare
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backup_id:
                  type: string
                manifest_filter:
                  type: string
                data_type:
                  type: string
              required:
              - backup_id
              - manifest_filter
              - data_type
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/filtered/status:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindBackupFilteredStatus
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/backup/filtered/status
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                data_type:
                  type: string
              required:
              - key
              - data_type
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/ls:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindBackupLs
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/backup/ls
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backup_id:
                  type: string
                path:
                  type: string
                extension_version:
                  type: string
              required:
              - backup_id
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/path-info:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindBackupPathInfo
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/backup/path-info
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backup_id:
                  type: string
                manifest_path:
                  type: string
                extension_type:
                  type: string
              required:
              - backup_id
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/extension/{extension_type}/stream:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindBackupbyBackupIdExtensionbyExtensionTypeStream
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/extension/{extension_type}/stream
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: backup_id
        in: path
        required: true
        schema:
          type: string
      - name: extension_type
        in: path
        required: true
        schema:
          type: string
      - name: extension_slug
        in: query
        required: true
        schema:
          type: string
      - name: extension_version
        in: query
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/extension/{extension_type}/url:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindBackupbyBackupIdExtensionbyExtensionTypeUrl
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/extension/{extension_type}/url
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: backup_id
        in: path
        required: true
        schema:
          type: string
      - name: extension_type
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                extension_slug:
                  type: string
                extension_version:
                  type: string
              required:
              - extension_slug
              - extension_version
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/file/{manifest_path}/stream:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindBackupbyBackupIdFilebyManifestPathStream
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/file/{manifest_path}/stream
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: backup_id
        in: path
        required: true
        schema:
          type: string
      - name: manifest_path
        in: path
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: disposition
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/file/{manifest_path}/url:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindBackupbyBackupIdFilebyManifestPathUrl
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/backup/{backup_id}/file/{manifest_path}/url
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: backup_id
        in: path
        required: true
        schema:
          type: string
      - name: manifest_path
        in: path
        required: true
        schema:
          type: string
      - name: disposition
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/backups:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindBackups
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/backups
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/backups/enqueue:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindBackupsEnqueue
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/backups/enqueue
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/basic:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindBasic
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/basic
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/billing/receipts:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindBillingReceipts
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/billing/receipts
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/capabilities:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindCapabilities
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/capabilities
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/credentials:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindCredentials
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/credentials
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/credentials/delete:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindCredentialsDelete
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/credentials/delete
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role: {}
              required:
              - role
  /wpcom/v2/sites/{wpcom_site}/rewind/credentials/test:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindCredentialsTest
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/credentials/test
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role: {}
              required:
              - role
  /wpcom/v2/sites/{wpcom_site}/rewind/credentials/update:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindCredentialsUpdate
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/credentials/update
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentials:
                  type: object
              required:
              - credentials
  /wpcom/v2/sites/{wpcom_site}/rewind/downloads:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindDownloads
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/downloads
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindDownloads
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/downloads
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rewindId: {}
                include_path_list: {}
                exclude_path_list: {}
                types: {}
                skip_activity_log:
                  type: boolean
                  default: false
  /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindDownloadsbyId
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindDownloadsbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dismissed:
                  type: boolean
                  default: false
    put:
      operationId: putWpcomV2SitesbyWpcomSiteRewindDownloadsbyId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dismissed:
                  type: boolean
                  default: false
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteRewindDownloadsbyId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dismissed:
                  type: boolean
                  default: false
  /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}/data:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindDownloadsbyIdData
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/downloads/{id}/data
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema: {}
  /wpcom/v2/sites/{wpcom_site}/rewind/options:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindOptions
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/options
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindOptions
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/options
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/policies:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindPolicies
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/policies
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/preflight:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindPreflight
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/preflight
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindPreflight
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/preflight
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/restores:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindRestores
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/restores
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/restores/{id}:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindRestoresbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/restores/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dismissed:
                  type: boolean
                  default: false
    put:
      operationId: putWpcomV2SitesbyWpcomSiteRewindRestoresbyId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/rewind/restores/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dismissed:
                  type: boolean
                  default: false
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteRewindRestoresbyId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/rewind/restores/{id}
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dismissed:
                  type: boolean
                  default: false
  /wpcom/v2/sites/{wpcom_site}/rewind/scheduled:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindScheduled
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/scheduled
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindScheduled
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/scheduled
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                schedule_hour:
                  type: integer
              required:
              - schedule_hour
  /wpcom/v2/sites/{wpcom_site}/rewind/screenshots:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindScreenshots
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/screenshots
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: false
        schema: {}
  /wpcom/v2/sites/{wpcom_site}/rewind/send-security-notification:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindSendSecurityNotification
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/send-security-notification
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/size:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindSize
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/size
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/staging:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindStaging
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/staging
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/staging/list:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteRewindStagingList
      summary: GET /wpcom/v2/sites/{wpcom_site}/rewind/staging/list
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/rewind/staging/update:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteRewindStagingUpdate
      summary: POST /wpcom/v2/sites/{wpcom_site}/rewind/staging/update
      tags:
      - rewind
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                staging:
                  type: boolean
              required:
              - staging
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
