openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Segmentation Survey API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: segmentation-survey
paths:
  /wpcom/v2/segmentation-survey/answer:
    post:
      operationId: postWpcomV2SegmentationSurveyAnswer
      summary: POST /wpcom/v2/segmentation-survey/answer
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                survey_key:
                  type: string
                question_key:
                  type: string
                answers:
                  type: array
                  items:
                    type: string
              required:
              - survey_key
              - question_key
              - answers
    put:
      operationId: putWpcomV2SegmentationSurveyAnswer
      summary: PUT /wpcom/v2/segmentation-survey/answer
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                survey_key:
                  type: string
                question_key:
                  type: string
                answers:
                  type: array
                  items:
                    type: string
              required:
              - survey_key
              - question_key
              - answers
    patch:
      operationId: patchWpcomV2SegmentationSurveyAnswer
      summary: PATCH /wpcom/v2/segmentation-survey/answer
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                survey_key:
                  type: string
                question_key:
                  type: string
                answers:
                  type: array
                  items:
                    type: string
              required:
              - survey_key
              - question_key
              - answers
  /wpcom/v2/segmentation-survey/answers:
    get:
      operationId: getWpcomV2SegmentationSurveyAnswers
      summary: GET /wpcom/v2/segmentation-survey/answers
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: survey_key
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/segmentation-survey/answers/link:
    post:
      operationId: postWpcomV2SegmentationSurveyAnswersLink
      summary: POST /wpcom/v2/segmentation-survey/answers/link
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                survey_key:
                  type: string
              required:
              - blog_id
              - survey_key
    put:
      operationId: putWpcomV2SegmentationSurveyAnswersLink
      summary: PUT /wpcom/v2/segmentation-survey/answers/link
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                survey_key:
                  type: string
              required:
              - blog_id
              - survey_key
    patch:
      operationId: patchWpcomV2SegmentationSurveyAnswersLink
      summary: PATCH /wpcom/v2/segmentation-survey/answers/link
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                survey_key:
                  type: string
              required:
              - blog_id
              - survey_key
  /wpcom/v2/segmentation-survey/{survey_key}:
    get:
      operationId: getWpcomV2SegmentationSurveybySurveyKey
      summary: GET /wpcom/v2/segmentation-survey/{survey_key}
      tags:
      - segmentation-survey
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: survey_key
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
