openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Stats Dashboard API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-stats-dashboard
paths:
  /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/module-settings:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModuleSettings
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/module-settings
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModuleSettings
      summary: PUT /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/module-settings
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModuleSettings
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/module-settings
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModuleSettings
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/module-settings
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/modules:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModules
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/modules
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModules
      summary: PUT /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/modules
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModules
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/modules
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackStatsDashboardModules
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/modules
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/notices:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackStatsDashboardNotices
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/notices
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  enum:
                  - opt_out_new_stats
                  - new_stats_feedback
                  - opt_in_new_stats
                  - do_you_love_jetpack_stats
                  - commercial_site_upgrade
                  - tier_upgrade
                  - focus_jetpack_purchase
                  - traffic_page_settings
                  - traffic_page_highlights_module_settings
                  - gdpr_cookie_consent
                  - able_to_submit_user_feedback
                  - show_floating_user_feedback_panel
                  description: ID of the notice
                status:
                  type: string
                  enum:
                  - dismissed
                  - postponed
                  description: Status of the notice
                postponed_for:
                  type: number
                  description: Postponed for (in seconds)
              required:
              - id
              - status
    put:
      operationId: putWpcomV2SitesbyWpcomSiteJetpackStatsDashboardNotices
      summary: PUT /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/notices
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  enum:
                  - opt_out_new_stats
                  - new_stats_feedback
                  - opt_in_new_stats
                  - do_you_love_jetpack_stats
                  - commercial_site_upgrade
                  - tier_upgrade
                  - focus_jetpack_purchase
                  - traffic_page_settings
                  - traffic_page_highlights_module_settings
                  - gdpr_cookie_consent
                  - able_to_submit_user_feedback
                  - show_floating_user_feedback_panel
                  description: ID of the notice
                status:
                  type: string
                  enum:
                  - dismissed
                  - postponed
                  description: Status of the notice
                postponed_for:
                  type: number
                  description: Postponed for (in seconds)
              required:
              - id
              - status
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteJetpackStatsDashboardNotices
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/notices
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  enum:
                  - opt_out_new_stats
                  - new_stats_feedback
                  - opt_in_new_stats
                  - do_you_love_jetpack_stats
                  - commercial_site_upgrade
                  - tier_upgrade
                  - focus_jetpack_purchase
                  - traffic_page_settings
                  - traffic_page_highlights_module_settings
                  - gdpr_cookie_consent
                  - able_to_submit_user_feedback
                  - show_floating_user_feedback_panel
                  description: ID of the notice
                status:
                  type: string
                  enum:
                  - dismissed
                  - postponed
                  description: Status of the notice
                postponed_for:
                  type: number
                  description: Postponed for (in seconds)
              required:
              - id
              - status
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackStatsDashboardNotices
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-stats-dashboard/notices
      tags:
      - jetpack-stats-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
