openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Blaze API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: blaze
paths:
  /wpcom/v2/blaze/assign-user-to-experiment:
    post:
      operationId: postWpcomV2BlazeAssignUserToExperiment
      summary: POST /wpcom/v2/blaze/assign-user-to-experiment
      tags:
      - blaze
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                wpcom_user_id:
                  type: string
                experiment_name:
                  type: string
              required:
              - wpcom_user_id
              - experiment_name
  /wpcom/v2/sites/{wpcom_site}/blaze/posts:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlazePosts
      summary: GET /wpcom/v2/sites/{wpcom_site}/blaze/posts
      tags:
      - blaze
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: title
        in: query
        required: false
        schema:
          type: string
        description: Search for posts by title
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: 'Current page of the collection. A max of 20 items will be returned per page. Does not apply for fields: like_count and monthly_view_count which will return the full collection'
      - name: posts_per_page
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 'Max number of posts to include in the result, with a maximum of 20. Does not apply for fields: like_count and monthly_view_count which will return the full collection'
      - name: order_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - post_title
          - type
          - date
          - modified
          - comment_count
          - like_count
          - monthly_view_count
        description: 'Order by field. Valid values are: post_title, type, date, modified, comment_count, like_count, monthly_view_count'
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
        description: 'Order by ascendent or descendent. Valid values are: asc, desc'
      - name: filter_post_type
        in: query
        required: false
        schema:
          type: string
        description: 'Comma-separated list of post types to filter. Valid values are: post, page, product.'
  /wpcom/v2/sites/{wpcom_site}/blaze/posts/{post_id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlazePostsbyPostId
      summary: GET /wpcom/v2/sites/{wpcom_site}/blaze/posts/{post_id}
      tags:
      - blaze
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: post_id
        in: path
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        required: false
        schema:
          type: integer
        description: 'Filter views by start date. Format: YYYYMMDD'
      - name: end_date
        in: query
        required: false
        schema:
          type: integer
        description: 'Filter views by end date: YYYYMMDD. Required if using startdate param.'
  /wpcom/v2/sites/{wpcom_site}/blaze/posts/{post_id}/view-stats:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlazePostsbyPostIdViewStats
      summary: GET /wpcom/v2/sites/{wpcom_site}/blaze/posts/{post_id}/view-stats
      tags:
      - blaze
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: post_id
        in: path
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        required: true
        schema:
          type: integer
        description: 'Filter views by start date. Format: YYYYMMDD'
      - name: end_date
        in: query
        required: true
        schema:
          type: integer
        description: 'Filter views by end date. Format: YYYYMMDD'
  /wpcom/v2/sites/{wpcom_site}/blaze/status:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlazeStatus
      summary: GET /wpcom/v2/sites/{wpcom_site}/blaze/status
      tags:
      - blaze
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
