openapi: 3.2.0
info:
  title: WordPress.com REST API — wp/v2 namespace Wp Abilities API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wp/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wp/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: wp-abilities
paths:
  /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities:
    get:
      operationId: getWpV2SitesbyWpcomSiteWpAbilitiesV1Abilities
      summary: GET /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Maximum number of items to be returned in result set.
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: Limit results to abilities in specific ability category.
  /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}:
    get:
      operationId: getWpV2SitesbyWpcomSiteWpAbilitiesV1AbilitiesbyName
      summary: GET /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
  /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}/run:
    get:
      operationId: getWpV2SitesbyWpcomSiteWpAbilitiesV1AbilitiesbyNameRun
      summary: GET /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}/run
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: input
        in: query
        required: false
        schema:
          type: string
        description: Input parameters for the ability execution.
    post:
      operationId: postWpV2SitesbyWpcomSiteWpAbilitiesV1AbilitiesbyNameRun
      summary: POST /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}/run
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Input parameters for the ability execution.
    put:
      operationId: putWpV2SitesbyWpcomSiteWpAbilitiesV1AbilitiesbyNameRun
      summary: PUT /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}/run
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Input parameters for the ability execution.
    patch:
      operationId: patchWpV2SitesbyWpcomSiteWpAbilitiesV1AbilitiesbyNameRun
      summary: PATCH /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}/run
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Input parameters for the ability execution.
    delete:
      operationId: deleteWpV2SitesbyWpcomSiteWpAbilitiesV1AbilitiesbyNameRun
      summary: DELETE /wp/v2/sites/{wpcom_site}/wp-abilities/v1/abilities/{name}/run
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: input
        in: query
        required: false
        schema:
          type: string
        description: Input parameters for the ability execution.
  /wp/v2/sites/{wpcom_site}/wp-abilities/v1/categories:
    get:
      operationId: getWpV2SitesbyWpcomSiteWpAbilitiesV1Categories
      summary: GET /wp/v2/sites/{wpcom_site}/wp-abilities/v1/categories
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Maximum number of items to be returned in result set.
  /wp/v2/sites/{wpcom_site}/wp-abilities/v1/categories/{slug}:
    get:
      operationId: getWpV2SitesbyWpcomSiteWpAbilitiesV1CategoriesbySlug
      summary: GET /wp/v2/sites/{wpcom_site}/wp-abilities/v1/categories/{slug}
      tags:
      - wp-abilities
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
