openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack AI Query API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-ai-query
paths:
  /wpcom/v2/jetpack-ai-query:
    get:
      operationId: getWpcomV2JetpackAiQuery
      summary: GET /wpcom/v2/jetpack-ai-query
      tags:
      - jetpack-ai-query
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: question
        in: query
        required: false
        schema:
          type: string
        description: A prompt to be completed by the OpenAI service.
      - name: model
        in: query
        required: false
        schema:
          type: string
        description: The model to be used.
      - name: post_id
        in: query
        required: false
        schema:
          type: integer
        description: The post_id for the post where the completion will be used.
      - name: session_id
        in: query
        required: false
        schema:
          type: string
        description: Session ID for logging purposes.
      - name: feature
        in: query
        required: false
        schema:
          type: string
        description: The feature to use for logging completions.
      - name: functions
        in: query
        required: false
        schema:
          type: array
          items: {}
        description: 'DEPRECATED: The function signatures for the Function Calling OpenAI feature.'
      - name: tools
        in: query
        required: false
        schema:
          type: array
          items: {}
        description: The function signatures for the Function Calling OpenAI feature.
      - name: stream
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: If the response should be streamed or not.
      - name: response_format
        in: query
        required: false
        schema:
          type: string
          default: text
        description: The expected response format.
      - name: max_tokens
        in: query
        required: false
        schema:
          type: integer
        description: The maximum amount of tokens to generate on the output. Beware of model limitations.
      - name: store
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to store the completion in OpenAI.
      - name: parallel_tool_calls
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to use parallel tool calls.
      - name: language_code
        in: query
        required: false
        schema:
          type: string
        description: The language code to use for the response.
      - name: messages
        in: query
        required: false
        schema:
          type: string
        description: The JSON-encoded list of messages to be completed by the OpenAI service.
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: The JWT token to authenticate the request.
    post:
      operationId: postWpcomV2JetpackAiQuery
      summary: POST /wpcom/v2/jetpack-ai-query
      tags:
      - jetpack-ai-query
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: A prompt to be completed by the OpenAI service.
                model:
                  type: string
                  description: The model to be used.
                post_id:
                  type: integer
                  description: The post_id for the post where the completion will be used.
                session_id:
                  type: string
                  description: Session ID for logging purposes.
                feature:
                  type: string
                  description: The feature to use for logging completions.
                functions:
                  type: array
                  items: {}
                  description: 'DEPRECATED: The function signatures for the Function Calling OpenAI feature.'
                tools:
                  type: array
                  items: {}
                  description: The function signatures for the Function Calling OpenAI feature.
                stream:
                  type: boolean
                  default: true
                  description: If the response should be streamed or not.
                response_format:
                  type: string
                  default: text
                  description: The expected response format.
                max_tokens:
                  type: integer
                  description: The maximum amount of tokens to generate on the output. Beware of model limitations.
                store:
                  type: boolean
                  description: Whether to store the completion in OpenAI.
                parallel_tool_calls:
                  type: boolean
                  description: Whether to use parallel tool calls.
                language_code:
                  type: string
                  description: The language code to use for the response.
                messages:
                  type: array
                  items: {}
                  description: The JSON-encoded list of messages to be completed by the OpenAI service.
    put:
      operationId: putWpcomV2JetpackAiQuery
      summary: PUT /wpcom/v2/jetpack-ai-query
      tags:
      - jetpack-ai-query
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: A prompt to be completed by the OpenAI service.
                model:
                  type: string
                  description: The model to be used.
                post_id:
                  type: integer
                  description: The post_id for the post where the completion will be used.
                session_id:
                  type: string
                  description: Session ID for logging purposes.
                feature:
                  type: string
                  description: The feature to use for logging completions.
                functions:
                  type: array
                  items: {}
                  description: 'DEPRECATED: The function signatures for the Function Calling OpenAI feature.'
                tools:
                  type: array
                  items: {}
                  description: The function signatures for the Function Calling OpenAI feature.
                stream:
                  type: boolean
                  default: true
                  description: If the response should be streamed or not.
                response_format:
                  type: string
                  default: text
                  description: The expected response format.
                max_tokens:
                  type: integer
                  description: The maximum amount of tokens to generate on the output. Beware of model limitations.
                store:
                  type: boolean
                  description: Whether to store the completion in OpenAI.
                parallel_tool_calls:
                  type: boolean
                  description: Whether to use parallel tool calls.
                language_code:
                  type: string
                  description: The language code to use for the response.
                messages:
                  type: array
                  items: {}
                  description: The JSON-encoded list of messages to be completed by the OpenAI service.
    patch:
      operationId: patchWpcomV2JetpackAiQuery
      summary: PATCH /wpcom/v2/jetpack-ai-query
      tags:
      - jetpack-ai-query
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: A prompt to be completed by the OpenAI service.
                model:
                  type: string
                  description: The model to be used.
                post_id:
                  type: integer
                  description: The post_id for the post where the completion will be used.
                session_id:
                  type: string
                  description: Session ID for logging purposes.
                feature:
                  type: string
                  description: The feature to use for logging completions.
                functions:
                  type: array
                  items: {}
                  description: 'DEPRECATED: The function signatures for the Function Calling OpenAI feature.'
                tools:
                  type: array
                  items: {}
                  description: The function signatures for the Function Calling OpenAI feature.
                stream:
                  type: boolean
                  default: true
                  description: If the response should be streamed or not.
                response_format:
                  type: string
                  default: text
                  description: The expected response format.
                max_tokens:
                  type: integer
                  description: The maximum amount of tokens to generate on the output. Beware of model limitations.
                store:
                  type: boolean
                  description: Whether to store the completion in OpenAI.
                parallel_tool_calls:
                  type: boolean
                  description: Whether to use parallel tool calls.
                language_code:
                  type: string
                  description: The language code to use for the response.
                messages:
                  type: array
                  items: {}
                  description: The JSON-encoded list of messages to be completed by the OpenAI service.
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
