openapi: 3.2.0
info:
  title: WordPress.com REST API — wp/v2 namespace Menu Items API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wp/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wp/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: menu-items
paths:
  /wp/v2/sites/{wpcom_site}/menu-items:
    get:
      operationId: getWpV2SitesbyWpcomSiteMenuItems
      summary: GET /wp/v2/sites/{wpcom_site}/menu-items
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: menu_order
        description: Sort collection by object attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: menus
        in: query
        required: false
        schema:
          type: string
        description: Limit result set to items with specific terms assigned in the menus taxonomy.
      - name: menus_exclude
        in: query
        required: false
        schema:
          type: string
        description: Limit result set to items except those with specific terms assigned in the menus taxonomy.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
    post:
      operationId: postWpV2SitesbyWpcomSiteMenuItems
      summary: POST /wp/v2/sites/{wpcom_site}/menu-items
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  default: custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  default: publish
                  description: A named status for the object.
                parent:
                  type: integer
                  default: 0
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  default: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  default: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
  /wp/v2/sites/{wpcom_site}/menu-items/{id}:
    get:
      operationId: getWpV2SitesbyWpcomSiteMenuItemsbyId
      summary: GET /wp/v2/sites/{wpcom_site}/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: postWpV2SitesbyWpcomSiteMenuItemsbyId
      summary: POST /wp/v2/sites/{wpcom_site}/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the object.
                parent:
                  type: integer
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
    put:
      operationId: putWpV2SitesbyWpcomSiteMenuItemsbyId
      summary: PUT /wp/v2/sites/{wpcom_site}/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the object.
                parent:
                  type: integer
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
    patch:
      operationId: patchWpV2SitesbyWpcomSiteMenuItemsbyId
      summary: PATCH /wp/v2/sites/{wpcom_site}/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the object.
                parent:
                  type: integer
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
    delete:
      operationId: deleteWpV2SitesbyWpcomSiteMenuItemsbyId
      summary: DELETE /wp/v2/sites/{wpcom_site}/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
  /wp/v2/sites/{wpcom_site}/menu-items/{id}/autosaves:
    get:
      operationId: getWpV2SitesbyWpcomSiteMenuItemsbyIdAutosaves
      summary: GET /wp/v2/sites/{wpcom_site}/menu-items/{id}/autosaves
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: postWpV2SitesbyWpcomSiteMenuItemsbyIdAutosaves
      summary: POST /wp/v2/sites/{wpcom_site}/menu-items/{id}/autosaves
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the object.
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
  /wp/v2/sites/{wpcom_site}/menu-items/{parent}/autosaves/{id}:
    get:
      operationId: getWpV2SitesbyWpcomSiteMenuItemsbyParentAutosavesbyId
      summary: GET /wp/v2/sites/{wpcom_site}/menu-items/{parent}/autosaves/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
