openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Invites API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: invites
paths:
  /wpcom/v2/sites/{wpcom_site}/invites/are-users-invited:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteInvitesAreUsersInvited
      summary: POST /wpcom/v2/sites/{wpcom_site}/invites/are-users-invited
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: string
              required:
              - users
  /wpcom/v2/sites/{wpcom_site}/invites/delete:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteInvitesDelete
      summary: POST /wpcom/v2/sites/{wpcom_site}/invites/delete
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invite_ids:
                  type: array
                  items:
                    type: string
              required:
              - invite_ids
  /wpcom/v2/sites/{wpcom_site}/invites/is-invited:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteInvitesIsInvited
      summary: GET /wpcom/v2/sites/{wpcom_site}/invites/is-invited
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: email_or_username
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/invites/links/disable:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteInvitesLinksDisable
      summary: POST /wpcom/v2/sites/{wpcom_site}/invites/links/disable
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
  /wpcom/v2/sites/{wpcom_site}/invites/links/generate:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteInvitesLinksGenerate
      summary: POST /wpcom/v2/sites/{wpcom_site}/invites/links/generate
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                expiry:
                  type: integer
  /wpcom/v2/sites/{wpcom_site}/invites/new:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteInvitesNew
      summary: POST /wpcom/v2/sites/{wpcom_site}/invites/new
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invitees:
                  type: array
                  items:
                    type: object
              required:
              - invitees
  /wpcom/v2/sites/{wpcom_site}/invites/resend:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteInvitesResend
      summary: POST /wpcom/v2/sites/{wpcom_site}/invites/resend
      tags:
      - invites
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invite_slug:
                  type: string
              required:
              - invite_slug
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
