openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Activity API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: activity
paths:
  /wpcom/v2/sites/{wpcom_site}/activity:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteActivity
      summary: POST /wpcom/v2/sites/{wpcom_site}/activity
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action_type: {}
                args: {}
              required:
              - action_type
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivity
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: _envelope
        in: query
        required: false
        schema: {}
      - name: action
        in: query
        required: false
        schema:
          default: false
      - name: after
        in: query
        required: false
        schema: {}
      - name: before
        in: query
        required: false
        schema: {}
      - name: by
        in: query
        required: false
        schema:
          default: false
      - name: date_range
        in: query
        required: false
        schema:
          default: 6 months ago
      - name: group
        in: query
        required: false
        schema:
          default: false
      - name: locale
        in: query
        required: false
        schema:
          default: en
      - name: name
        in: query
        required: false
        schema:
          default: false
      - name: not_group
        in: query
        required: false
        schema:
          default: false
      - name: number
        in: query
        required: false
        schema:
          default: 20
      - name: 'on'
        in: query
        required: false
        schema: {}
      - name: page
        in: query
        required: false
        schema:
          default: 1
      - name: search_after
        in: query
        required: false
        schema: {}
      - name: sort_order
        in: query
        required: false
        schema:
          default: desc
      - name: aggregate
        in: query
        required: false
        schema:
          default: false
      - name: aggregate_show
        in: query
        required: false
        schema:
          default: 10
      - name: text_search
        in: query
        required: false
        schema: {}
      - name: ai_only
        in: query
        required: false
        schema:
          default: false
      - name: actor
        in: query
        required: false
        schema:
          default: false
  /wpcom/v2/sites/{wpcom_site}/activity/actors:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivityActors
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity/actors
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        schema: {}
      - name: before
        in: query
        required: false
        schema: {}
      - name: date_range
        in: query
        required: false
        schema:
          default: 6 months ago
      - name: number
        in: query
        required: false
        schema:
          default: 1000
      - name: 'on'
        in: query
        required: false
        schema: {}
  /wpcom/v2/sites/{wpcom_site}/activity/count:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivityCount
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity/count
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: _envelope
        in: query
        required: false
        schema: {}
      - name: action
        in: query
        required: false
        schema:
          default: false
      - name: after
        in: query
        required: false
        schema: {}
      - name: before
        in: query
        required: false
        schema: {}
      - name: by
        in: query
        required: false
        schema:
          default: false
      - name: date_range
        in: query
        required: false
        schema:
          default: 6 months ago
      - name: group
        in: query
        required: false
        schema:
          default: false
      - name: locale
        in: query
        required: false
        schema:
          default: en
      - name: name
        in: query
        required: false
        schema:
          default: false
      - name: not_group
        in: query
        required: false
        schema:
          default: false
      - name: number
        in: query
        required: false
        schema:
          default: 20
      - name: 'on'
        in: query
        required: false
        schema: {}
      - name: page
        in: query
        required: false
        schema:
          default: 1
      - name: search_after
        in: query
        required: false
        schema: {}
      - name: sort_order
        in: query
        required: false
        schema:
          default: desc
      - name: aggregate
        in: query
        required: false
        schema:
          default: false
      - name: aggregate_show
        in: query
        required: false
        schema:
          default: 10
      - name: text_search
        in: query
        required: false
        schema: {}
      - name: ai_only
        in: query
        required: false
        schema:
          default: false
      - name: actor
        in: query
        required: false
        schema:
          default: false
  /wpcom/v2/sites/{wpcom_site}/activity/count/group:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivityCountGroup
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity/count/group
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: _envelope
        in: query
        required: false
        schema: {}
      - name: action
        in: query
        required: false
        schema:
          default: false
      - name: after
        in: query
        required: false
        schema: {}
      - name: before
        in: query
        required: false
        schema: {}
      - name: by
        in: query
        required: false
        schema:
          default: false
      - name: date_range
        in: query
        required: false
        schema:
          default: 6 months ago
      - name: group
        in: query
        required: false
        schema:
          default: false
      - name: locale
        in: query
        required: false
        schema:
          default: en
      - name: name
        in: query
        required: false
        schema:
          default: false
      - name: not_group
        in: query
        required: false
        schema:
          default: false
      - name: number
        in: query
        required: false
        schema:
          default: 20
      - name: 'on'
        in: query
        required: false
        schema: {}
      - name: page
        in: query
        required: false
        schema:
          default: 1
      - name: search_after
        in: query
        required: false
        schema: {}
      - name: sort_order
        in: query
        required: false
        schema:
          default: desc
      - name: aggregate
        in: query
        required: false
        schema:
          default: false
      - name: aggregate_show
        in: query
        required: false
        schema:
          default: 10
      - name: text_search
        in: query
        required: false
        schema: {}
      - name: ai_only
        in: query
        required: false
        schema:
          default: false
      - name: actor
        in: query
        required: false
        schema:
          default: false
  /wpcom/v2/sites/{wpcom_site}/activity/rewindable:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivityRewindable
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity/rewindable
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: _envelope
        in: query
        required: false
        schema: {}
      - name: action
        in: query
        required: false
        schema:
          default: false
      - name: after
        in: query
        required: false
        schema: {}
      - name: before
        in: query
        required: false
        schema: {}
      - name: by
        in: query
        required: false
        schema:
          default: false
      - name: date_range
        in: query
        required: false
        schema:
          default: 6 months ago
      - name: group
        in: query
        required: false
        schema:
          default: false
      - name: locale
        in: query
        required: false
        schema:
          default: en
      - name: name
        in: query
        required: false
        schema:
          default: false
      - name: not_group
        in: query
        required: false
        schema:
          default: false
      - name: number
        in: query
        required: false
        schema:
          default: 20
      - name: 'on'
        in: query
        required: false
        schema: {}
      - name: page
        in: query
        required: false
        schema:
          default: 1
      - name: search_after
        in: query
        required: false
        schema: {}
      - name: sort_order
        in: query
        required: false
        schema:
          default: desc
      - name: aggregate
        in: query
        required: false
        schema:
          default: false
      - name: aggregate_show
        in: query
        required: false
        schema:
          default: 10
      - name: text_search
        in: query
        required: false
        schema: {}
      - name: ai_only
        in: query
        required: false
        schema:
          default: false
      - name: actor
        in: query
        required: false
        schema:
          default: false
  /wpcom/v2/sites/{wpcom_site}/activity/rewindable/count/group:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivityRewindableCountGroup
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity/rewindable/count/group
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: _envelope
        in: query
        required: false
        schema: {}
      - name: action
        in: query
        required: false
        schema:
          default: false
      - name: after
        in: query
        required: false
        schema: {}
      - name: before
        in: query
        required: false
        schema: {}
      - name: by
        in: query
        required: false
        schema:
          default: false
      - name: date_range
        in: query
        required: false
        schema:
          default: 6 months ago
      - name: group
        in: query
        required: false
        schema:
          default: false
      - name: locale
        in: query
        required: false
        schema:
          default: en
      - name: name
        in: query
        required: false
        schema:
          default: false
      - name: not_group
        in: query
        required: false
        schema:
          default: false
      - name: number
        in: query
        required: false
        schema:
          default: 20
      - name: 'on'
        in: query
        required: false
        schema: {}
      - name: page
        in: query
        required: false
        schema:
          default: 1
      - name: search_after
        in: query
        required: false
        schema: {}
      - name: sort_order
        in: query
        required: false
        schema:
          default: desc
      - name: aggregate
        in: query
        required: false
        schema:
          default: false
      - name: aggregate_show
        in: query
        required: false
        schema:
          default: 10
      - name: text_search
        in: query
        required: false
        schema: {}
      - name: ai_only
        in: query
        required: false
        schema:
          default: false
      - name: actor
        in: query
        required: false
        schema:
          default: false
  /wpcom/v2/sites/{wpcom_site}/activity/{rewind_id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteActivitybyRewindId
      summary: GET /wpcom/v2/sites/{wpcom_site}/activity/{rewind_id}
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: rewind_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/activity/{rewind_id}/share:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteActivitybyRewindIdShare
      summary: POST /wpcom/v2/sites/{wpcom_site}/activity/{rewind_id}/share
      tags:
      - activity
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: rewind_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required:
              - email
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
