openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Agency API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-agency
paths:
  /wpcom/v2/jetpack-agency/contacts:
    post:
      operationId: postWpcomV2JetpackAgencyContacts
      summary: POST /wpcom/v2/jetpack-agency/contacts
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - sms
                  - email
                value:
                  type: string
                site_ids:
                  type: array
                  items: {}
                number:
                  type: string
                country_code:
                  type: string
                country_numeric_code:
                  type: string
              required:
              - type
              - value
              - site_ids
    get:
      operationId: getWpcomV2JetpackAgencyContacts
      summary: GET /wpcom/v2/jetpack-agency/contacts
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-agency/contacts/resend-verification:
    post:
      operationId: postWpcomV2JetpackAgencyContactsResendVerification
      summary: POST /wpcom/v2/jetpack-agency/contacts/resend-verification
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - sms
                  - email
                value:
                  type: string
              required:
              - type
              - value
  /wpcom/v2/jetpack-agency/contacts/verify:
    post:
      operationId: postWpcomV2JetpackAgencyContactsVerify
      summary: POST /wpcom/v2/jetpack-agency/contacts/verify
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - sms
                  - email
                value:
                  type: string
                verification_code:
                  type: integer
              required:
              - type
              - value
              - verification_code
  /wpcom/v2/jetpack-agency/provisioning-sites:
    get:
      operationId: getWpcomV2JetpackAgencyProvisioningSites
      summary: GET /wpcom/v2/jetpack-agency/provisioning-sites
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-agency/sites:
    get:
      operationId: getWpcomV2JetpackAgencySites
      summary: GET /wpcom/v2/jetpack-agency/sites
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: backup_failed
        in: query
        required: false
        schema: {}
      - name: backup_warning
        in: query
        required: false
        schema: {}
      - name: threats_found
        in: query
        required: false
        schema: {}
      - name: site_down
        in: query
        required: false
        schema: {}
      - name: site_disconnected
        in: query
        required: false
        schema: {}
      - name: plugin_updates
        in: query
        required: false
        schema: {}
      - name: not_multisite
        in: query
        required: false
        schema: {}
      - name: all_issues
        in: query
        required: false
        schema: {}
      - name: sort_field
        in: query
        required: false
        schema: {}
      - name: sort_direction
        in: query
        required: false
        schema: {}
      - name: added_within_days
        in: query
        required: false
        schema:
          type: integer
  /wpcom/v2/jetpack-agency/sites/boost-scores:
    post:
      operationId: postWpcomV2JetpackAgencySitesBoostScores
      summary: POST /wpcom/v2/jetpack-agency/sites/boost-scores
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                site_ids:
                  type: array
                  items: {}
              required:
              - site_ids
  /wpcom/v2/jetpack-agency/sites/favorite:
    post:
      operationId: postWpcomV2JetpackAgencySitesFavorite
      summary: POST /wpcom/v2/jetpack-agency/sites/favorite
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                site_id:
                  type: string
              required:
              - site_id
    delete:
      operationId: deleteWpcomV2JetpackAgencySitesFavorite
      summary: DELETE /wpcom/v2/jetpack-agency/sites/favorite
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: site_id
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-agency/sites/plugins/install:
    post:
      operationId: postWpcomV2JetpackAgencySitesPluginsInstall
      summary: POST /wpcom/v2/jetpack-agency/sites/plugins/install
      tags:
      - jetpack-agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                site_id:
                  type: string
                plugin_slug:
                  type: string
              required:
              - site_id
              - plugin_slug
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
