openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Site Importer API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: site-importer
paths:
  /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteSiteImporterPaidNewsletter
      summary: POST /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter
      tags:
      - site-importer
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                engine:
                  type: string
                current_step:
                  type: string
                skip:
                  type: string
                import_url:
                  type: string
                newsletter_location:
                  type: string
                  default: import-paid-subscribers
              required:
              - engine
    get:
      operationId: getWpcomV2SitesbyWpcomSiteSiteImporterPaidNewsletter
      summary: GET /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter
      tags:
      - site-importer
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: engine
        in: query
        required: true
        schema:
          type: string
      - name: current_step
        in: query
        required: false
        schema:
          type: string
      - name: newsletter_location
        in: query
        required: false
        schema:
          type: string
          default: import-paid-subscribers
  /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/map-stripe-plan-to-product:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteSiteImporterPaidNewsletterMapStripePlanToProduct
      summary: POST /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/map-stripe-plan-to-product
      tags:
      - site-importer
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                engine:
                  type: string
                current_step:
                  type: string
                stripe_plan_id:
                  type: string
                product_id:
                  type: string
                newsletter_location:
                  type: string
                  default: import-paid-subscribers
              required:
              - engine
              - stripe_plan_id
              - product_id
  /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/reset:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteSiteImporterPaidNewsletterReset
      summary: POST /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/reset
      tags:
      - site-importer
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                engine:
                  type: string
                import_url:
                  type: string
                  description: The URL being imported (must be a valid Substack newsletter URL)
                newsletter_location:
                  type: string
                  default: import-paid-subscribers
              required:
              - engine
  /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/set-comp-plan:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteSiteImporterPaidNewsletterSetCompPlan
      summary: POST /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/set-comp-plan
      tags:
      - site-importer
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                engine:
                  type: string
                current_step:
                  type: string
                comp_stripe_plan_id:
                  type: string
                newsletter_location:
                  type: string
                  default: import-paid-subscribers
              required:
              - engine
              - comp_stripe_plan_id
  /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/subscriber-import:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteSiteImporterPaidNewsletterSubscriberImport
      summary: POST /wpcom/v2/sites/{wpcom_site}/site-importer/paid-newsletter/subscriber-import
      tags:
      - site-importer
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                engine:
                  type: string
                current_step:
                  type: string
                newsletter_location:
                  type: string
                  default: import-paid-subscribers
              required:
              - engine
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
