openapi: 3.2.0
info:
  title: Automattic Tests API
  contact:
    name: WordPress.com Developer Resources
    url: https://developer.wordpress.com/docs/api/
  termsOfService: https://wordpress.com/tos/
  x-derived-by: API Evangelist enrichment pipeline
  x-refined-note:
  - x-derived-from differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged tests across 3 of this provider''s published API definitions: automattic-wordpress-com-rest-v1-1-openapi.yml, automattic-wordpress-com-rest-v1-2-openapi.yml, automattic-wordpress-com-rest-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://public-api.wordpress.com/rest/v1.1
- url: https://public-api.wordpress.com/rest/v1.2
- url: https://public-api.wordpress.com/rest/v1.3
security:
- bearerAuth: []
tags:
- name: tests
paths:
  /test/version/{ID}/old:
    get:
      operationId: getTestVersionByIdOld
      summary: Test GET requests.
      description: Test GET requests.
      tags:
      - tests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  method_id_matches_query_id:
                    type: boolean
                    description: Whether the arbitrary integer in the path matches the arbitrary integer in the query string.
                  method_id:
                    type: integer
                  id:
                    type: integer
                    description: Another arbitrary integer
                  default_string:
                    type: string
                  default_int:
                    type: integer
                  boolean_whitelist_defaults_to_false:
                    type: boolean
                  boolean_whitelist_defaults_to_true:
                    type: boolean
                  string_whitelist_defaults_to_foo:
                    type: string
                  url:
                    type: string
                    format: uri
                  datetime:
                    type: string
                    format: date-time
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authorization required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: integer
        description: An arbitrary integer
      - name: http_envelope
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Some environments (like in-browser JavaScript or Flash) block or divert responses with a non-200 HTTP status code.  Setting this parameter will force the HTTP status code to always be 200.  The JSON response is wrapped in an "envelope" containing the "real" HTTP status code and headers.'
      - name: pretty
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Output pretty JSON'
      - name: meta
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Loads data from the endpoints found in the ''meta'' part of the response. Comma-separated list. Example: meta=site,likes'
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Returns specified fields only. Comma-separated list. Example: fields=ID,title'
      - name: callback
        in: query
        required: false
        schema:
          type: string
        description: An optional JSONP callback function.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Another arbitrary integer
      - name: default_string
        in: query
        required: false
        schema:
          type: string
        description: 'Default: ''default''.'
      - name: default_int
        in: query
        required: false
        schema:
          type: integer
        description: 'Default: 100.'
      - name: boolean_whitelist_defaults_to_false
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default) False; true: True'
      - name: boolean_whitelist_defaults_to_true
        in: query
        required: false
        schema:
          type: boolean
        description: 'true: (default) TRUE; false: FALSE'
      - name: string_whitelist_defaults_to_foo
        in: query
        required: false
        schema:
          type: string
          enum:
          - foo
          - bar
        description: 'foo: (default) Foolish; bar: Barstow'
      - name: url
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: datetime
        in: query
        required: false
        schema:
          type: string
          format: date-time
    servers:
    - url: https://public-api.wordpress.com/rest/v1.1
  /test/{ID}:
    get:
      operationId: getTestById
      summary: Test GET requests.
      description: Test GET requests.
      tags:
      - tests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  method_id_matches_query_id:
                    type: boolean
                    description: Whether the arbitrary integer in the path matches the arbitrary integer in the query string.
                  method_id:
                    type: integer
                  id:
                    type: integer
                    description: Another arbitrary integer
                  default_string:
                    type: string
                  default_int:
                    type: integer
                  boolean_whitelist_defaults_to_false:
                    type: boolean
                  boolean_whitelist_defaults_to_true:
                    type: boolean
                  string_whitelist_defaults_to_foo:
                    type: string
                  url:
                    type: string
                    format: uri
                  datetime:
                    type: string
                    format: date-time
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authorization required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: integer
        description: An arbitrary integer
      - name: http_envelope
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Some environments (like in-browser JavaScript or Flash) block or divert responses with a non-200 HTTP status code.  Setting this parameter will force the HTTP status code to always be 200.  The JSON response is wrapped in an "envelope" containing the "real" HTTP status code and headers.'
      - name: pretty
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Output pretty JSON'
      - name: meta
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Loads data from the endpoints found in the ''meta'' part of the response. Comma-separated list. Example: meta=site,likes'
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Returns specified fields only. Comma-separated list. Example: fields=ID,title'
      - name: callback
        in: query
        required: false
        schema:
          type: string
        description: An optional JSONP callback function.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Another arbitrary integer
      - name: default_string
        in: query
        required: false
        schema:
          type: string
        description: 'Default: ''default''.'
      - name: default_int
        in: query
        required: false
        schema:
          type: integer
        description: 'Default: 100.'
      - name: boolean_whitelist_defaults_to_false
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default) False; true: True'
      - name: boolean_whitelist_defaults_to_true
        in: query
        required: false
        schema:
          type: boolean
        description: 'true: (default) TRUE; false: FALSE'
      - name: string_whitelist_defaults_to_foo
        in: query
        required: false
        schema:
          type: string
          enum:
          - foo
          - bar
        description: 'foo: (default) Foolish; bar: Barstow'
      - name: url
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: datetime
        in: query
        required: false
        schema:
          type: string
          format: date-time
    post:
      operationId: postTestById
      summary: Test POST requests.
      description: Test POST requests.
      tags:
      - tests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  method_id_matches_query_id:
                    type: boolean
                    description: Whether the arbitrary integer in the path matches the arbitrary integer in the query string.
                  method_id_matches_input_id:
                    type: boolean
                    description: Whether the arbitrary integer in the path matches the arbitrary integer in the POST input.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authorization required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: integer
        description: An arbitrary integer
      - name: http_envelope
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Some environments (like in-browser JavaScript or Flash) block or divert responses with a non-200 HTTP status code.  Setting this parameter will force the HTTP status code to always be 200.  The JSON response is wrapped in an "envelope" containing the "real" HTTP status code and headers.'
      - name: pretty
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Output pretty JSON'
      - name: meta
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Loads data from the endpoints found in the ''meta'' part of the response. Comma-separated list. Example: meta=site,likes'
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Returns specified fields only. Comma-separated list. Example: fields=ID,title'
      - name: callback
        in: query
        required: false
        schema:
          type: string
        description: An optional JSONP callback function.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Another arbitrary integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: A potentially different arbitrary integer
    servers:
    - url: https://public-api.wordpress.com/rest/v1.1
  /test/version/{ID}:
    get:
      operationId: getTestVersionById
      summary: Test GET requests.
      description: Test GET requests.
      tags:
      - tests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  method_id_matches_query_id:
                    type: boolean
                    description: Whether the arbitrary integer in the path matches the arbitrary integer in the query string.
                  method_id:
                    type: integer
                  id:
                    type: integer
                    description: Another arbitrary integer
                  default_string:
                    type: string
                  default_int:
                    type: integer
                  boolean_whitelist_defaults_to_false:
                    type: boolean
                  boolean_whitelist_defaults_to_true:
                    type: boolean
                  string_whitelist_defaults_to_foo:
                    type: string
                  url:
                    type: string
                    format: uri
                  datetime:
                    type: string
                    format: date-time
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authorization required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: integer
        description: An arbitrary integer
      - name: http_envelope
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Some environments (like in-browser JavaScript or Flash) block or divert responses with a non-200 HTTP status code.  Setting this parameter will force the HTTP status code to always be 200.  The JSON response is wrapped in an "envelope" containing the "real" HTTP status code and headers.'
      - name: pretty
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default); true: Output pretty JSON'
      - name: meta
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Loads data from the endpoints found in the ''meta'' part of the response. Comma-separated list. Example: meta=site,likes'
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. Returns specified fields only. Comma-separated list. Example: fields=ID,title'
      - name: callback
        in: query
        required: false
        schema:
          type: string
        description: An optional JSONP callback function.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Another arbitrary integer
      - name: default_string
        in: query
        required: false
        schema:
          type: string
        description: 'Default: ''default''.'
      - name: default_int
        in: query
        required: false
        schema:
          type: integer
        description: 'Default: 100.'
      - name: boolean_whitelist_defaults_to_false
        in: query
        required: false
        schema:
          type: boolean
        description: 'false: (default) False; true: True'
      - name: boolean_whitelist_defaults_to_true
        in: query
        required: false
        schema:
          type: boolean
        description: 'true: (default) TRUE; false: FALSE'
      - name: string_whitelist_defaults_to_foo
        in: query
        required: false
        schema:
          type: string
          enum:
          - foo
          - bar
        description: 'foo: (default) Foolish; bar: Barstow'
      - name: url
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: datetime
        in: query
        required: false
        schema:
          type: string
          format: date-time
    servers:
    - url: https://public-api.wordpress.com/rest/v1.2
components:
  schemas:
    Error:
      type: object
      description: WordPress.com REST API error envelope (observed live).
      properties:
        error:
          type: string
          examples:
          - not_found
        message:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1 (see /.well-known/openid-configuration).
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization: Bearer <access_token>'
x-refined-from:
- automattic-wordpress-com-rest-v1-1-openapi.yml
- automattic-wordpress-com-rest-v1-2-openapi.yml
- automattic-wordpress-com-rest-v1-3-openapi.yml
