openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Licensing API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-licensing
paths:
  /wpcom/v2/jetpack-licensing/dev-licenses:
    get:
      operationId: getWpcomV2JetpackLicensingDevLicenses
      summary: GET /wpcom/v2/jetpack-licensing/dev-licenses
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/jetpack-crm/license:
    get:
      operationId: getWpcomV2JetpackLicensingJetpackCrmLicense
      summary: GET /wpcom/v2/jetpack-licensing/jetpack-crm/license
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: query
        required: true
        schema: {}
  /wpcom/v2/jetpack-licensing/license:
    get:
      operationId: getWpcomV2JetpackLicensingLicense
      summary: GET /wpcom/v2/jetpack-licensing/license
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: query
        required: true
        schema: {}
    post:
      operationId: postWpcomV2JetpackLicensingLicense
      summary: POST /wpcom/v2/jetpack-licensing/license
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product: {}
                quantity:
                  type: integer
                  default: 1
              required:
              - product
    delete:
      operationId: deleteWpcomV2JetpackLicensingLicense
      summary: DELETE /wpcom/v2/jetpack-licensing/license
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: query
        required: true
        schema: {}
      - name: cancellation_email
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/license/{license_key}/children:
    get:
      operationId: getWpcomV2JetpackLicensingLicensebyLicenseKeyChildren
      summary: GET /wpcom/v2/jetpack-licensing/license/{license_key}/children
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/license/{license_key}/download:
    get:
      operationId: getWpcomV2JetpackLicensingLicensebyLicenseKeyDownload
      summary: GET /wpcom/v2/jetpack-licensing/license/{license_key}/download
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/license/{license_key}/site:
    post:
      operationId: postWpcomV2JetpackLicensingLicensebyLicenseKeySite
      summary: POST /wpcom/v2/jetpack-licensing/license/{license_key}/site
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                site:
                  type: string
              required:
              - site
    delete:
      operationId: deleteWpcomV2JetpackLicensingLicensebyLicenseKeySite
      summary: DELETE /wpcom/v2/jetpack-licensing/license/{license_key}/site
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: license_key
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/licenses:
    get:
      operationId: getWpcomV2JetpackLicensingLicenses
      summary: GET /wpcom/v2/jetpack-licensing/licenses
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: page
        in: query
        required: false
        schema: {}
      - name: per_page
        in: query
        required: false
        schema: {}
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: parent_id
        in: query
        required: false
        schema:
          type: integer
      - name: filter
        in: query
        required: false
        schema: {}
      - name: sort_field
        in: query
        required: false
        schema: {}
      - name: sort_direction
        in: query
        required: false
        schema: {}
    post:
      operationId: postWpcomV2JetpackLicensingLicenses
      summary: POST /wpcom/v2/jetpack-licensing/licenses
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product: {}
                quantity:
                  type: integer
                bundle:
                  type: boolean
              required:
              - product
              - quantity
              - bundle
  /wpcom/v2/jetpack-licensing/licenses/billing:
    get:
      operationId: getWpcomV2JetpackLicensingLicensesBilling
      summary: GET /wpcom/v2/jetpack-licensing/licenses/billing
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/licenses/counts:
    get:
      operationId: getWpcomV2JetpackLicensingLicensesCounts
      summary: GET /wpcom/v2/jetpack-licensing/licenses/counts
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/partner:
    get:
      operationId: getWpcomV2JetpackLicensingPartner
      summary: GET /wpcom/v2/jetpack-licensing/partner
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2JetpackLicensingPartner
      summary: POST /wpcom/v2/jetpack-licensing/partner
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tos:
                  type: string
                name:
                  type: string
                contact_person:
                  type: string
                company_website:
                  type: string
                company_type:
                  type: string
                country:
                  type: string
                state:
                  type: string
                line1:
                  type: string
                line2:
                  type: string
                postal_code:
                  type: string
                city:
                  type: string
                managed_sites:
                  type: string
                partner_program_opt_in:
                  type: boolean
                referrer: {}
              required:
              - tos
              - name
    put:
      operationId: putWpcomV2JetpackLicensingPartner
      summary: PUT /wpcom/v2/jetpack-licensing/partner
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tos:
                  type: string
                name:
                  type: string
                contact_person:
                  type: string
                company_website:
                  type: string
                company_type:
                  type: string
                country:
                  type: string
                state:
                  type: string
                line1:
                  type: string
                line2:
                  type: string
                postal_code:
                  type: string
                city:
                  type: string
                managed_sites:
                  type: string
                partner_program_opt_in:
                  type: boolean
                referrer: {}
  /wpcom/v2/jetpack-licensing/partner/invoice/{invoice_id}/payment:
    post:
      operationId: postWpcomV2JetpackLicensingPartnerInvoicebyInvoiceIdPayment
      summary: POST /wpcom/v2/jetpack-licensing/partner/invoice/{invoice_id}/payment
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/partner/invoices:
    get:
      operationId: getWpcomV2JetpackLicensingPartnerInvoices
      summary: GET /wpcom/v2/jetpack-licensing/partner/invoices
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: Set this if you want results to be filtered by their status.
  /wpcom/v2/jetpack-licensing/partner/product-families:
    get:
      operationId: getWpcomV2JetpackLicensingPartnerProductFamilies
      summary: GET /wpcom/v2/jetpack-licensing/partner/product-families
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/product-families:
    get:
      operationId: getWpcomV2JetpackLicensingProductFamilies
      summary: GET /wpcom/v2/jetpack-licensing/product-families
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/public/manage-pricing:
    get:
      operationId: getWpcomV2JetpackLicensingPublicManagePricing
      summary: GET /wpcom/v2/jetpack-licensing/public/manage-pricing
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/site-connection:
    post:
      operationId: postWpcomV2JetpackLicensingSiteConnection
      summary: POST /wpcom/v2/jetpack-licensing/site-connection
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url: {}
                local_user: {}
              required:
              - url
              - local_user
  /wpcom/v2/jetpack-licensing/stripe/payment-method:
    post:
      operationId: postWpcomV2JetpackLicensingStripePaymentMethod
      summary: POST /wpcom/v2/jetpack-licensing/stripe/payment-method
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: string
                  description: The Stripe payment method ID that should be attached to the customer.
                use_as_primary_payment_method:
                  type: boolean
                  default: false
                  description: Set this payment method as default for the customer.
                stripe_setup_intent_id:
                  type: string
                  default: ''
                  description: The Stripe Setup Intent id for the payment method.
              required:
              - payment_method_id
    delete:
      operationId: deleteWpcomV2JetpackLicensingStripePaymentMethod
      summary: DELETE /wpcom/v2/jetpack-licensing/stripe/payment-method
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: payment_method_id
        in: query
        required: true
        schema:
          type: string
        description: The Stripe payment method ID that should be detached.
      - name: primary_payment_method_id
        in: query
        required: false
        schema:
          type: string
        description: The Stripe payment method ID that should be set as a primary.
  /wpcom/v2/jetpack-licensing/stripe/payment-methods:
    get:
      operationId: getWpcomV2JetpackLicensingStripePaymentMethods
      summary: GET /wpcom/v2/jetpack-licensing/stripe/payment-methods
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
  /wpcom/v2/jetpack-licensing/user/licenses:
    get:
      operationId: getWpcomV2JetpackLicensingUserLicenses
      summary: GET /wpcom/v2/jetpack-licensing/user/licenses
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/user/licenses/counts:
    get:
      operationId: getWpcomV2JetpackLicensingUserLicensesCounts
      summary: GET /wpcom/v2/jetpack-licensing/user/licenses/counts
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-licensing/user/order/{order_id}:
    get:
      operationId: getWpcomV2JetpackLicensingUserOrderbyOrderId
      summary: GET /wpcom/v2/jetpack-licensing/user/order/{order_id}
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/user/receipt/{receipt_id}:
    get:
      operationId: getWpcomV2JetpackLicensingUserReceiptbyReceiptId
      summary: GET /wpcom/v2/jetpack-licensing/user/receipt/{receipt_id}
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/user/subscription/{subscription_id}:
    get:
      operationId: getWpcomV2JetpackLicensingUserSubscriptionbySubscriptionId
      summary: GET /wpcom/v2/jetpack-licensing/user/subscription/{subscription_id}
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-licensing/vendasta/provision-or-deprovision/{product_id}:
    post:
      operationId: postWpcomV2JetpackLicensingVendastaProvisionOrDeprovisionbyProductId
      summary: POST /wpcom/v2/jetpack-licensing/vendasta/provision-or-deprovision/{product_id}
      tags:
      - jetpack-licensing
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: product_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
