openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Woo API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: woo
paths:
  /wpcom/v2/woo/address-autocomplete/map:
    get:
      operationId: getWpcomV2WooAddressAutocompleteMap
      summary: GET /wpcom/v2/woo/address-autocomplete/map
      tags:
      - woo
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: locations
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/woo/address-autocomplete/search:
    get:
      operationId: getWpcomV2WooAddressAutocompleteSearch
      summary: GET /wpcom/v2/woo/address-autocomplete/search
      tags:
      - woo
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: The address search query.
      - name: country
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: The country code to bias the search results around, will be concluded from the IP address if not provided.
      - name: lat
        in: query
        required: false
        schema:
          type: number
        description: The latitude to bias the search results around, will be concluded from the IP address if not provided.
      - name: lng
        in: query
        required: false
        schema:
          type: number
        description: The longitude to bias the search results around, will be concluded from the IP address if not provided.
      - name: lang
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: The language code to use for the search results.
      - name: session_id
        in: query
        required: true
        schema:
          type: string
        description: The session ID to use for the search operation.
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: The JWT token to use for authentication.
  /wpcom/v2/woo/address-autocomplete/select:
    get:
      operationId: getWpcomV2WooAddressAutocompleteSelect
      summary: GET /wpcom/v2/woo/address-autocomplete/select
      tags:
      - woo
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: address_id
        in: query
        required: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: The language code to use for the select address operation.
      - name: session_id
        in: query
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: The JWT token to use for authentication.
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
