openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Experiments API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: experiments
paths:
  /wpcom/v2/experiments/0.1.0/analyses/{experiment_id}:
    get:
      operationId: getWpcomV2Experiments010AnalysesbyExperimentId
      summary: GET /wpcom/v2/experiments/0.1.0/analyses/{experiment_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      - name: metric_assignment_id
        in: query
        required: false
        schema:
          type: integer
  /wpcom/v2/experiments/0.1.0/analyses/{experiment_id}/latest:
    get:
      operationId: getWpcomV2Experiments010AnalysesbyExperimentIdLatest
      summary: GET /wpcom/v2/experiments/0.1.0/analyses/{experiment_id}/latest
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      - name: metric_assignment_id
        in: query
        required: false
        schema:
          type: integer
  /wpcom/v2/experiments/0.1.0/assignments:
    patch:
      operationId: patchWpcomV2Experiments010Assignments
      summary: PATCH /wpcom/v2/experiments/0.1.0/assignments
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                anon_id:
                  type: string
                username_override:
                  type: string
                variations:
                  type: object
              required:
              - variations
  /wpcom/v2/experiments/0.1.0/assignments/log:
    post:
      operationId: postWpcomV2Experiments010AssignmentsLog
      summary: POST /wpcom/v2/experiments/0.1.0/assignments/log
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                flag_key:
                  type: string
                experiment_id:
                  type: integer
                experiment_variation_id:
                  type: integer
                hash_attribute:
                  type: string
                  enum:
                  - anon_id
                  - wpcom_user_id
                  - dayone_user_id
                  - pocketcasts_user_id
                hash_value:
                  type: string
              required:
              - flag_key
              - experiment_id
              - experiment_variation_id
              - hash_attribute
              - hash_value
  /wpcom/v2/experiments/0.1.0/assignments/{platform}:
    get:
      operationId: getWpcomV2Experiments010AssignmentsbyPlatform
      summary: GET /wpcom/v2/experiments/0.1.0/assignments/{platform}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
      - name: anon_id
        in: query
        required: false
        schema:
          type: string
      - name: experiment_names
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/autocomplete/events:
    get:
      operationId: getWpcomV2Experiments010AutocompleteEvents
      summary: GET /wpcom/v2/experiments/0.1.0/autocomplete/events
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/experiments/0.1.0/autocomplete/events/{name}:
    get:
      operationId: getWpcomV2Experiments010AutocompleteEventsbyName
      summary: GET /wpcom/v2/experiments/0.1.0/autocomplete/events/{name}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/autocomplete/products:
    get:
      operationId: getWpcomV2Experiments010AutocompleteProducts
      summary: GET /wpcom/v2/experiments/0.1.0/autocomplete/products
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/experiments/0.1.0/autocomplete/transaction-types:
    get:
      operationId: getWpcomV2Experiments010AutocompleteTransactionTypes
      summary: GET /wpcom/v2/experiments/0.1.0/autocomplete/transaction-types
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/experiments/0.1.0/autocomplete/users:
    get:
      operationId: getWpcomV2Experiments010AutocompleteUsers
      summary: GET /wpcom/v2/experiments/0.1.0/autocomplete/users
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/experiments/0.1.0/experiments:
    get:
      operationId: getWpcomV2Experiments010Experiments
      summary: GET /wpcom/v2/experiments/0.1.0/experiments
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: include_analyses
        in: query
        required: false
        schema:
          type: string
    post:
      operationId: postWpcomV2Experiments010Experiments
      summary: POST /wpcom/v2/experiments/0.1.0/experiments
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                start_datetime:
                  type: string
                  format: date-time
                end_datetime:
                  type: string
                  format: date-time
                platform:
                  type: string
                  enum:
                  - akismet
                  - calypso
                  - dayone
                  - dsp
                  - email
                  - jetpack
                  - lohp
                  - mlsales
                  - pipe
                  - pocketcasts
                  - tumblr
                  - wccom
                  - woocommerce
                  - woocommerceandroid
                  - woocommerceios
                  - wpandroid
                  - wpcom
                  - wpios
                owner_login:
                  type: string
                description:
                  type: string
                existing_users_allowed:
                  type: boolean
                p2_url:
                  type: string
                  format: uri
                eligibility:
                  type: object
                exposure_events:
                  type: array
                  items:
                    type: object
                variations:
                  type: array
                  items:
                    type: object
                metric_assignments:
                  type: array
                  items:
                    type: object
                segment_assignments:
                  type: array
                  items:
                    type: object
                exclusion_group_tag_ids:
                  type: array
                  items:
                    type: integer
                apply_guardrails:
                  type: boolean
                  default: false
              required:
              - name
              - platform
              - owner_login
              - description
              - existing_users_allowed
              - variations
              - metric_assignments
              - segment_assignments
              - exclusion_group_tag_ids
  /wpcom/v2/experiments/0.1.0/experiments/guardrails/{platform}:
    get:
      operationId: getWpcomV2Experiments010ExperimentsGuardrailsbyPlatform
      summary: GET /wpcom/v2/experiments/0.1.0/experiments/guardrails/{platform}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/experiments/preset:
    post:
      operationId: postWpcomV2Experiments010ExperimentsPreset
      summary: POST /wpcom/v2/experiments/0.1.0/experiments/preset
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                platform:
                  type: string
                  enum:
                  - akismet
                  - calypso
                  - dayone
                  - dsp
                  - email
                  - jetpack
                  - lohp
                  - mlsales
                  - pipe
                  - pocketcasts
                  - tumblr
                  - wccom
                  - woocommerce
                  - woocommerceandroid
                  - woocommerceios
                  - wpandroid
                  - wpcom
                  - wpios
              required:
              - name
              - platform
  /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}:
    get:
      operationId: getWpcomV2Experiments010ExperimentsbyExperimentId
      summary: GET /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      - name: include_participants
        in: query
        required: false
        schema:
          type: string
    put:
      operationId: putWpcomV2Experiments010ExperimentsbyExperimentId
      summary: PUT /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                start_datetime:
                  type: string
                  format: date-time
                end_datetime:
                  type: string
                  format: date-time
                platform:
                  type: string
                  enum:
                  - akismet
                  - calypso
                  - dayone
                  - dsp
                  - email
                  - jetpack
                  - lohp
                  - mlsales
                  - pipe
                  - pocketcasts
                  - tumblr
                  - wccom
                  - woocommerce
                  - woocommerceandroid
                  - woocommerceios
                  - wpandroid
                  - wpcom
                  - wpios
                owner_login:
                  type: string
                description:
                  type: string
                existing_users_allowed:
                  type: boolean
                p2_url:
                  type: string
                  format: uri
                eligibility:
                  type: object
                exposure_events:
                  type: array
                  items:
                    type: object
                variations:
                  type: array
                  items:
                    type: object
                metric_assignments:
                  type: array
                  items:
                    type: object
                segment_assignments:
                  type: array
                  items:
                    type: object
                exclusion_group_tag_ids:
                  type: array
                  items:
                    type: integer
                apply_guardrails:
                  type: boolean
                  default: false
              required:
              - name
              - platform
              - owner_login
              - description
              - existing_users_allowed
              - variations
              - metric_assignments
              - segment_assignments
              - exclusion_group_tag_ids
    patch:
      operationId: patchWpcomV2Experiments010ExperimentsbyExperimentId
      summary: PATCH /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                variations:
                  type: array
                  items:
                    type: object
                end_datetime:
                  type: string
                  format: date-time
                owner_login:
                  type: string
                description:
                  type: string
                p2_url:
                  type: string
                  format: uri
                metric_assignments:
                  type: array
                  items:
                    type: object
                end_reason:
                  type: string
                conclusion_url:
                  type: string
                  format: uri
                deployed_variation_id:
                  type: integer
  /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}/apply-guardrails:
    post:
      operationId: postWpcomV2Experiments010ExperimentsbyExperimentIdApplyGuardrails
      summary: POST /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}/apply-guardrails
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}/early-participants:
    get:
      operationId: getWpcomV2Experiments010ExperimentsbyExperimentIdEarlyParticipants
      summary: GET /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}/early-participants
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      - name: hours
        in: query
        required: false
        schema:
          type: integer
          default: 168
  /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}/status:
    put:
      operationId: putWpcomV2Experiments010ExperimentsbyExperimentIdStatus
      summary: PUT /wpcom/v2/experiments/0.1.0/experiments/{experiment_id}/status
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - staging
                  - running
                  - completed
                  - disabled
              required:
              - status
  /wpcom/v2/experiments/0.1.0/flags:
    post:
      operationId: postWpcomV2Experiments010Flags
      summary: POST /wpcom/v2/experiments/0.1.0/flags
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                experiment_flag_key:
                  type: string
                description:
                  type: string
                value_type:
                  type: string
                  enum:
                  - string
                  - boolean
                  - number
                  - json
                default_value:
                  type: string
                rules:
                  type: array
                  default: []
                  items: {}
                client_safe:
                  type: boolean
                  default: false
              required:
              - experiment_flag_key
              - value_type
              - default_value
    get:
      operationId: getWpcomV2Experiments010Flags
      summary: GET /wpcom/v2/experiments/0.1.0/flags
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - archived
          default: active
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
  /wpcom/v2/experiments/0.1.0/flags/preset:
    post:
      operationId: postWpcomV2Experiments010FlagsPreset
      summary: POST /wpcom/v2/experiments/0.1.0/flags/preset
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                experiment_flag_key:
                  type: string
                description:
                  type: string
              required:
              - experiment_flag_key
  /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}:
    patch:
      operationId: patchWpcomV2Experiments010FlagsbyExperimentFlagKey
      summary: PATCH /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_flag_key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                value_type:
                  type: string
                  enum:
                  - string
                  - boolean
                  - number
                  - json
                default_value:
                  type: string
                rules:
                  type: array
                  items: {}
                client_safe:
                  type: boolean
                status:
                  type: string
                  enum:
                  - active
                  - archived
    delete:
      operationId: deleteWpcomV2Experiments010FlagsbyExperimentFlagKey
      summary: DELETE /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_flag_key
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}/details:
    get:
      operationId: getWpcomV2Experiments010FlagsbyExperimentFlagKeyDetails
      summary: GET /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}/details
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_flag_key
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}/experiments:
    post:
      operationId: postWpcomV2Experiments010FlagsbyExperimentFlagKeyExperiments
      summary: POST /wpcom/v2/experiments/0.1.0/flags/{experiment_flag_key}/experiments
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: experiment_flag_key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                experiment_id:
                  type: integer
                hash_attribute:
                  type: string
                  enum:
                  - anon_id
                  - wpcom_user_id
                  - dayone_user_id
                  - pocketcasts_user_id
                variation_values:
                  type: object
              required:
              - experiment_id
  /wpcom/v2/experiments/0.1.0/flags/{platform}:
    get:
      operationId: getWpcomV2Experiments010FlagsbyPlatform
      summary: GET /wpcom/v2/experiments/0.1.0/flags/{platform}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
          enum:
          - cache
          - db
          default: cache
  /wpcom/v2/experiments/0.1.0/metrics:
    get:
      operationId: getWpcomV2Experiments010Metrics
      summary: GET /wpcom/v2/experiments/0.1.0/metrics
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2Experiments010Metrics
      summary: POST /wpcom/v2/experiments/0.1.0/metrics
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                higher_is_better:
                  type: boolean
                pipe_params:
                  type: object
                event_params:
                  type: array
                  items:
                    type: object
                revenue_params:
                  type: object
                tags:
                  type: array
                  items:
                    type: object
              required:
              - name
              - description
              - higher_is_better
  /wpcom/v2/experiments/0.1.0/metrics/{metric_id}:
    get:
      operationId: getWpcomV2Experiments010MetricsbyMetricId
      summary: GET /wpcom/v2/experiments/0.1.0/metrics/{metric_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: metric_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2Experiments010MetricsbyMetricId
      summary: PUT /wpcom/v2/experiments/0.1.0/metrics/{metric_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: metric_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                higher_is_better:
                  type: boolean
                pipe_params:
                  type: object
                event_params:
                  type: array
                  items:
                    type: object
                revenue_params:
                  type: object
                tags:
                  type: array
                  items:
                    type: object
              required:
              - name
              - description
              - higher_is_better
    delete:
      operationId: deleteWpcomV2Experiments010MetricsbyMetricId
      summary: DELETE /wpcom/v2/experiments/0.1.0/metrics/{metric_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: metric_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/segments:
    get:
      operationId: getWpcomV2Experiments010Segments
      summary: GET /wpcom/v2/experiments/0.1.0/segments
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2Experiments010Segments
      summary: POST /wpcom/v2/experiments/0.1.0/segments
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum:
                  - country
                  - locale
              required:
              - name
              - type
  /wpcom/v2/experiments/0.1.0/segments/{segment_id}:
    get:
      operationId: getWpcomV2Experiments010SegmentsbySegmentId
      summary: GET /wpcom/v2/experiments/0.1.0/segments/{segment_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2Experiments010SegmentsbySegmentId
      summary: DELETE /wpcom/v2/experiments/0.1.0/segments/{segment_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/experiments/0.1.0/tags:
    get:
      operationId: getWpcomV2Experiments010Tags
      summary: GET /wpcom/v2/experiments/0.1.0/tags
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2Experiments010Tags
      summary: POST /wpcom/v2/experiments/0.1.0/tags
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespace:
                  type: string
                name:
                  type: string
                description:
                  type: string
              required:
              - namespace
              - name
              - description
  /wpcom/v2/experiments/0.1.0/tags/{tag_id}:
    get:
      operationId: getWpcomV2Experiments010TagsbyTagId
      summary: GET /wpcom/v2/experiments/0.1.0/tags/{tag_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2Experiments010TagsbyTagId
      summary: PUT /wpcom/v2/experiments/0.1.0/tags/{tag_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespace:
                  type: string
                name:
                  type: string
                description:
                  type: string
              required:
              - namespace
              - name
              - description
    delete:
      operationId: deleteWpcomV2Experiments010TagsbyTagId
      summary: DELETE /wpcom/v2/experiments/0.1.0/tags/{tag_id}
      tags:
      - experiments
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
