openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Woo Mobile AI API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: woo-mobile-ai
paths:
  /wpcom/v2/woo-mobile-ai/chat/completions:
    post:
      operationId: postWpcomV2WooMobileAiChatCompletions
      summary: POST /wpcom/v2/woo-mobile-ai/chat/completions
      tags:
      - woo-mobile-ai
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items: {}
                  description: The messages to send to the AI assistant.
                model:
                  type: string
                  description: The model to use for completion.
                max_tokens:
                  type: integer
                  description: The maximum number of tokens to generate.
                tools:
                  type: array
                  items: {}
                  description: The tools to make available to the model.
                response_format:
                  type: string
                  enum:
                  - text
                  - json_object
                  default: text
                  description: The expected response format.
                completion_options:
                  type: object
                  description: Additional completion options forwarded to the model.
                store:
                  type: boolean
                  description: Whether the upstream provider should store the conversation.
                stream:
                  type: boolean
                  description: Whether to stream the response as Server-Sent Events.
              required:
              - messages
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
