openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Boost API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-boost
paths:
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/cloud-css:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostCloudCss
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/cloud-css
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/cloud-css/update:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostCloudCssUpdate
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/cloud-css/update
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/features:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackBoostFeatures
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-boost/features
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/lcp:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostLcp
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/lcp
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/lcp/update:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostLcpUpdate
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/lcp/update
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostSpeedScores
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                request_id:
                  type: string
                client:
                  type: string
              required:
              - url
              - request_id
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores-history:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackBoostSpeedScoresHistory
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores-history
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: start
        in: query
        required: true
        schema: {}
        description: Timestamp of the start of the time range to retrieve the performance history for.
      - name: end
        in: query
        required: true
        schema: {}
        description: Timestamp of the end of the time range to retrieve the performance history for.
      - name: page_size
        in: query
        required: false
        schema: {}
        description: The maximum number of records to retrieve in a single request. Defaults to 100.
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores/update:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostSpeedScoresUpdate
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores/update
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteJetpackBoostSpeedScoresUpdate
      summary: PUT /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores/update
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteJetpackBoostSpeedScoresUpdate
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores/update
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores/{request_id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackBoostSpeedScoresbyRequestId
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-boost/speed-scores/{request_id}
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: request_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostbyReportTypeReports
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: report_type
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackBoostbyReportTypeReportsbyId
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: report_type
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostbyReportTypeReportsbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: report_type
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                success:
                  type: boolean
                data:
                  type: object
              required:
              - data
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}/done:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackBoostbyReportTypeReportsbyIdDone
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}/done
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: report_type
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}/issues:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteJetpackBoostbyReportTypeReportsbyIdIssues
      summary: GET /wpcom/v2/sites/{wpcom_site}/jetpack-boost/{report_type}/reports/{id}/issues
      tags:
      - jetpack-boost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: report_type
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
