openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Agency Client API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: agency-client
paths:
  /wpcom/v2/agency-client/agency/{agency_id}/referrals/{referral_id}:
    get:
      operationId: getWpcomV2AgencyClientAgencybyAgencyIdReferralsbyReferralId
      summary: GET /wpcom/v2/agency-client/agency/{agency_id}/referrals/{referral_id}
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
      - name: secret
        in: query
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencyClientAgencybyAgencyIdReferralsbyReferralId
      summary: POST /wpcom/v2/agency-client/agency/{agency_id}/referrals/{referral_id}
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
              required:
              - secret
  /wpcom/v2/agency-client/license:
    delete:
      operationId: deleteWpcomV2AgencyClientLicense
      summary: DELETE /wpcom/v2/agency-client/license
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: args
        in: query
        required: false
        schema: {}
  /wpcom/v2/agency-client/public/pricing:
    get:
      operationId: getWpcomV2AgencyClientPublicPricing
      summary: GET /wpcom/v2/agency-client/public/pricing
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency-client/public/products:
    get:
      operationId: getWpcomV2AgencyClientPublicProducts
      summary: GET /wpcom/v2/agency-client/public/products
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency-client/referrals:
    get:
      operationId: getWpcomV2AgencyClientReferrals
      summary: GET /wpcom/v2/agency-client/referrals
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency-client/stripe/invoices:
    get:
      operationId: getWpcomV2AgencyClientStripeInvoices
      summary: GET /wpcom/v2/agency-client/stripe/invoices
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: Set this if you want results to be filtered by their status.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 24
        description: The number of invoices to return.
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
  /wpcom/v2/agency-client/stripe/payment-method:
    post:
      operationId: postWpcomV2AgencyClientStripePaymentMethod
      summary: POST /wpcom/v2/agency-client/stripe/payment-method
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: string
                  description: The Stripe payment method ID that should be attached to the customer.
                use_as_primary_payment_method:
                  type: boolean
                  default: false
                  description: Set this payment method as default for the customer.
                stripe_setup_intent_id:
                  type: string
                  default: ''
                  description: The Stripe Setup Intent id for the payment method.
              required:
              - payment_method_id
    delete:
      operationId: deleteWpcomV2AgencyClientStripePaymentMethod
      summary: DELETE /wpcom/v2/agency-client/stripe/payment-method
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: payment_method_id
        in: query
        required: true
        schema:
          type: string
        description: The Stripe payment method ID that should be detached.
      - name: primary_payment_method_id
        in: query
        required: false
        schema:
          type: string
        description: The Stripe payment method ID that should be set as a primary.
  /wpcom/v2/agency-client/stripe/payment-methods:
    get:
      operationId: getWpcomV2AgencyClientStripePaymentMethods
      summary: GET /wpcom/v2/agency-client/stripe/payment-methods
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the list.
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
