openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace AI Image API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: ai-image
paths:
  /wpcom/v2/sites/{wpcom_site}/ai-image:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteAiImage
      summary: POST /wpcom/v2/sites/{wpcom_site}/ai-image
      tags:
      - ai-image
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The JWT token to authenticate the request.
                prompt:
                  type: string
                  description: The prompt to generate the image.
                model:
                  type: string
                  enum:
                  - stable-diffusion
                  - flux
                  default: stable-diffusion
                  description: The model to use for the image generation.
                style:
                  type: string
                  enum:
                  - 3d-model
                  - analog-film
                  - anime
                  - cinematic
                  - comicbook
                  - craft-clay
                  - digital-art
                  - enhance
                  - fantasy-art
                  - isometric
                  - line-art
                  - lowpoly
                  - neonpunk
                  - origami
                  - photographic
                  - pixel-art
                  - texture
                  description: The style of the image.
                width:
                  type: number
                  enum:
                  - 512
                  - 768
                  - 1024
                  - 1360
                  description: Width of the image.
                height:
                  type: number
                  enum:
                  - 512
                  - 768
                  - 1024
                  - 1360
                  description: Height of the image.
              required:
              - prompt
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
