openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Update Schedules API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: update-schedules
paths:
  /wpcom/v2/sites/{wpcom_site}/update-schedules:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUpdateSchedules
      summary: GET /wpcom/v2/sites/{wpcom_site}/update-schedules
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUpdateSchedules
      summary: POST /wpcom/v2/sites/{wpcom_site}/update-schedules
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: string
                  description: List of plugin slugs to update.
                themes:
                  type: array
                  items: {}
                  description: List of theme slugs to update.
                schedule:
                  type: object
                  description: Update schedule.
              required:
              - plugins
              - schedule
  /wpcom/v2/sites/{wpcom_site}/update-schedules/capabilities:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUpdateSchedulesCapabilities
      summary: GET /wpcom/v2/sites/{wpcom_site}/update-schedules/capabilities
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleId
      summary: GET /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleId
      summary: POST /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: string
                  description: List of plugin slugs to update.
                themes:
                  type: array
                  items: {}
                  description: List of theme slugs to update.
                schedule:
                  type: object
                  description: Update schedule.
    put:
      operationId: putWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: string
                  description: List of plugin slugs to update.
                themes:
                  type: array
                  items: {}
                  description: List of theme slugs to update.
                schedule:
                  type: object
                  description: Update schedule.
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: string
                  description: List of plugin slugs to update.
                themes:
                  type: array
                  items: {}
                  description: List of theme slugs to update.
                schedule:
                  type: object
                  description: Update schedule.
    delete:
      operationId: deleteWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleId
      summary: DELETE /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/active:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdActive
      summary: POST /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/active
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Whether the schedule is active.
              required:
              - active
    put:
      operationId: putWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdActive
      summary: PUT /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/active
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Whether the schedule is active.
              required:
              - active
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdActive
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/active
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Whether the schedule is active.
              required:
              - active
  /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/logs:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdLogs
      summary: POST /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/logs
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - PLUGIN_UPDATES_START
                  - PLUGIN_UPDATES_SUCCESS
                  - PLUGIN_UPDATES_FAILURE
                  - PLUGIN_UPDATE_SUCCESS
                  - PLUGIN_UPDATE_FAILURE
                  - PLUGIN_SITE_HEALTH_CHECK_SUCCESS
                  - PLUGIN_SITE_HEALTH_CHECK_FAILURE
                  - PLUGIN_UPDATE_FAILURE_AND_ROLLBACK
                  - PLUGIN_UPDATE_FAILURE_AND_ROLLBACK_FAIL
                  description: The action to be logged
                message:
                  type: string
                  description: The message to be logged
                context:
                  type: object
                  description: The context to be logged
              required:
              - action
    put:
      operationId: putWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdLogs
      summary: PUT /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/logs
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - PLUGIN_UPDATES_START
                  - PLUGIN_UPDATES_SUCCESS
                  - PLUGIN_UPDATES_FAILURE
                  - PLUGIN_UPDATE_SUCCESS
                  - PLUGIN_UPDATE_FAILURE
                  - PLUGIN_SITE_HEALTH_CHECK_SUCCESS
                  - PLUGIN_SITE_HEALTH_CHECK_FAILURE
                  - PLUGIN_UPDATE_FAILURE_AND_ROLLBACK
                  - PLUGIN_UPDATE_FAILURE_AND_ROLLBACK_FAIL
                  description: The action to be logged
                message:
                  type: string
                  description: The message to be logged
                context:
                  type: object
                  description: The context to be logged
              required:
              - action
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdLogs
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/logs
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - PLUGIN_UPDATES_START
                  - PLUGIN_UPDATES_SUCCESS
                  - PLUGIN_UPDATES_FAILURE
                  - PLUGIN_UPDATE_SUCCESS
                  - PLUGIN_UPDATE_FAILURE
                  - PLUGIN_SITE_HEALTH_CHECK_SUCCESS
                  - PLUGIN_SITE_HEALTH_CHECK_FAILURE
                  - PLUGIN_UPDATE_FAILURE_AND_ROLLBACK
                  - PLUGIN_UPDATE_FAILURE_AND_ROLLBACK_FAIL
                  description: The action to be logged
                message:
                  type: string
                  description: The message to be logged
                context:
                  type: object
                  description: The context to be logged
              required:
              - action
    get:
      operationId: getWpcomV2SitesbyWpcomSiteUpdateSchedulesbyScheduleIdLogs
      summary: GET /wpcom/v2/sites/{wpcom_site}/update-schedules/{schedule_id}/logs
      tags:
      - update-schedules
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
