openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Private Podcasts API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: private-podcasts
paths:
  /wpcom/v2/private-podcasts/auth:
    get:
      operationId: getWpcomV2PrivatePodcastsAuth
      summary: GET /wpcom/v2/private-podcasts/auth
      tags:
      - private-podcasts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/private-podcasts/feed:
    get:
      operationId: getWpcomV2PrivatePodcastsFeed
      summary: GET /wpcom/v2/private-podcasts/feed
      tags:
      - private-podcasts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: Ouath code sent back from the authorization flow.
  /wpcom/v2/private-podcasts/file:
    get:
      operationId: getWpcomV2PrivatePodcastsFile
      summary: GET /wpcom/v2/private-podcasts/file
      tags:
      - private-podcasts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: Ouath code sent back from the authorization flow.
      - name: media_id
        in: query
        required: true
        schema:
          type: string
        description: File to access.
  /wpcom/v2/private-podcasts/token:
    get:
      operationId: getWpcomV2PrivatePodcastsToken
      summary: GET /wpcom/v2/private-podcasts/token
      tags:
      - private-podcasts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
        description: Ouath code sent back from the authorization flow.
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
