openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Partners API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-partners
paths:
  /wpcom/v2/jetpack-partners:
    get:
      operationId: getWpcomV2JetpackPartners
      summary: GET /wpcom/v2/jetpack-partners
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: all
        in: query
        required: false
        schema:
          type: boolean
          default: false
    post:
      operationId: postWpcomV2JetpackPartners
      summary: POST /wpcom/v2/jetpack-partners
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    put:
      operationId: putWpcomV2JetpackPartners
      summary: PUT /wpcom/v2/jetpack-partners
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    patch:
      operationId: patchWpcomV2JetpackPartners
      summary: PATCH /wpcom/v2/jetpack-partners
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-partners/activations:
    get:
      operationId: getWpcomV2JetpackPartnersActivations
      summary: GET /wpcom/v2/jetpack-partners/activations
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: key_id
        in: query
        required: false
        schema:
          type: string
      - name: scale
        in: query
        required: false
        schema:
          type: string
          default: month
  /wpcom/v2/jetpack-partners/capabilities:
    get:
      operationId: getWpcomV2JetpackPartnersCapabilities
      summary: GET /wpcom/v2/jetpack-partners/capabilities
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/jetpack-partners/{partner_id}:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerId
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key:
    post:
      operationId: postWpcomV2JetpackPartnersbyPartnerIdKey
      summary: POST /wpcom/v2/jetpack-partners/{partner_id}/key
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2JetpackPartnersbyPartnerIdKey
      summary: PUT /wpcom/v2/jetpack-partners/{partner_id}/key
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2JetpackPartnersbyPartnerIdKey
      summary: PATCH /wpcom/v2/jetpack-partners/{partner_id}/key
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerIdKeybyKeyId
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2JetpackPartnersbyPartnerIdKeybyKeyId
      summary: POST /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2JetpackPartnersbyPartnerIdKeybyKeyId
      summary: PUT /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2JetpackPartnersbyPartnerIdKeybyKeyId
      summary: PATCH /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/activation/{activation_id}:
    delete:
      operationId: deleteWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdActivationbyActivationId
      summary: DELETE /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/activation/{activation_id}
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
      - name: activation_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/activations:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdActivations
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/activations
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: plans
        in: query
        required: false
        schema:
          type: array
          items: {}
      - name: activated_after
        in: query
        required: false
        schema:
          type: string
      - name: activated_before
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/disable:
    post:
      operationId: postWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdDisable
      summary: POST /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/disable
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdDisable
      summary: PUT /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/disable
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdDisable
      summary: PATCH /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/disable
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/enable:
    post:
      operationId: postWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdEnable
      summary: POST /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/enable
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdEnable
      summary: PUT /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/enable
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdEnable
      summary: PATCH /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/enable
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/stripe/invoices:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdStripeInvoices
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/stripe/invoices
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/stripe/subscription:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdStripeSubscription
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/stripe/subscription
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/stripe/upcoming-invoice:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerIdKeybyKeyIdStripeUpcomingInvoice
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}/key/{key_id}/stripe/upcoming-invoice
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/jetpack-partners/{partner_id}/stripe/customer:
    get:
      operationId: getWpcomV2JetpackPartnersbyPartnerIdStripeCustomer
      summary: GET /wpcom/v2/jetpack-partners/{partner_id}/stripe/customer
      tags:
      - jetpack-partners
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
