openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Articles API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: articles
paths:
  /wpcom/v2/sites/{wpcom_site}/articles:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteArticles
      summary: GET /wpcom/v2/sites/{wpcom_site}/articles
      tags:
      - articles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: className
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: showExcerpt
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: showFullContent
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: excerptLength
        in: query
        required: false
        schema:
          type: number
          default: 55
      - name: showReadMore
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: infiniteScroll
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: readMoreLabel
        in: query
        required: false
        schema:
          type: string
          default: Keep reading
      - name: showDate
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: showImage
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: showCaption
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: showCredit
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: disableImageLazyLoad
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: fetchPriority
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: imageShape
        in: query
        required: false
        schema:
          type: string
          default: landscape
      - name: minHeight
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: moreButton
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: moreButtonText
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: showAuthor
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: showAvatar
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: showCategory
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: postLayout
        in: query
        required: false
        schema:
          type: string
          default: list
      - name: columns
        in: query
        required: false
        schema:
          type: integer
          default: 3
      - name: colGap
        in: query
        required: false
        schema:
          type: integer
          default: 3
      - name: postsToShow
        in: query
        required: false
        schema:
          type: integer
          default: 3
      - name: mediaPosition
        in: query
        required: false
        schema:
          type: string
          default: top
      - name: authors
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: categories
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: categoryJoinType
        in: query
        required: false
        schema:
          type: string
          enum:
          - or
          - all
          default: or
      - name: includeSubcategories
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: tags
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: customTaxonomies
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: object
      - name: tagExclusions
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: categoryExclusions
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: customTaxonomyExclusions
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: object
      - name: specificPosts
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: typeScale
        in: query
        required: false
        schema:
          type: integer
          default: 4
      - name: imageScale
        in: query
        required: false
        schema:
          type: integer
          default: 3
      - name: mobileStack
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: sectionHeader
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: specificMode
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: textColor
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: customTextColor
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: singleMode
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: showSubtitle
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: postType
        in: query
        required: false
        schema:
          type: array
          default:
          - post
          items:
            type: string
      - name: textAlign
        in: query
        required: false
        schema:
          type: string
          default: left
      - name: includedPostStatuses
        in: query
        required: false
        schema:
          type: array
          default:
          - publish
          items:
            type: string
      - name: deduplicate
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: exclude_ids
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
