openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Wccom API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: wccom
paths:
  /wpcom/v2/wccom/happiness/refresh-ssr:
    post:
      operationId: postWpcomV2WccomHappinessRefreshSsr
      summary: POST /wpcom/v2/wccom/happiness/refresh-ssr
      tags:
      - wccom
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                site_url:
                  type: string
                  format: uri
                  description: Site URL to fetch SSR from.
                site_id:
                  type: integer
                  description: Site ID to fetch SSR from.
                user_id:
                  type: integer
                  description: User ID that owns the site connection.
                ticket_id:
                  type: integer
                  description: Zendesk ticket ID to update with SSR.
  /wpcom/v2/wccom/happiness/ssr-url:
    get:
      operationId: getWpcomV2WccomHappinessSsrUrl
      summary: GET /wpcom/v2/wccom/happiness/ssr-url
      tags:
      - wccom
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: site_url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: Site URL.
  /wpcom/v2/wccom/happiness/user-chat-token:
    get:
      operationId: getWpcomV2WccomHappinessUserChatToken
      summary: GET /wpcom/v2/wccom/happiness/user-chat-token
      tags:
      - wccom
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/wccom/happiness/vendors:
    get:
      operationId: getWpcomV2WccomHappinessVendors
      summary: GET /wpcom/v2/wccom/happiness/vendors
      tags:
      - wccom
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
