openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Ceo Voice Agent API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: ceo-voice-agent
paths:
  /wpcom/v2/ceo-voice-agent/ground-truth:
    get:
      operationId: getWpcomV2CeoVoiceAgentGroundTruth
      summary: GET /wpcom/v2/ceo-voice-agent/ground-truth
      tags:
      - ceo-voice-agent
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/ceo-voice-agent/ingest:
    post:
      operationId: postWpcomV2CeoVoiceAgentIngest
      summary: POST /wpcom/v2/ceo-voice-agent/ingest
      tags:
      - ceo-voice-agent
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Bypass the freshness cooldown and re-run ingest immediately.
  /wpcom/v2/ceo-voice-agent/run-stream:
    post:
      operationId: postWpcomV2CeoVoiceAgentRunStream
      summary: POST /wpcom/v2/ceo-voice-agent/run-stream
      tags:
      - ceo-voice-agent
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                prior_messages:
                  type: array
                  default: []
                  items: {}
                mode:
                  type: string
                  enum:
                  - validate
                  - audit
                  default: validate
                strategy_cards:
                  type: string
                  description: Strategy agent output to validate (required for validate mode).
                model:
                  type: string
                  enum:
                  - claude-sonnet-4-6
                  - claude-sonnet-4-5-20250929
                  - claude-opus-4-6
                  - claude-haiku-4-5-20251001
              required:
              - prompt
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
