openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Staging Site API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: staging-site
paths:
  /wpcom/v2/sites/{wpcom_site}/staging-site:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteStagingSite
      summary: GET /wpcom/v2/sites/{wpcom_site}/staging-site
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteStagingSite
      summary: POST /wpcom/v2/sites/{wpcom_site}/staging-site
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/staging-site/production-site-details:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteStagingSiteProductionSiteDetails
      summary: GET /wpcom/v2/sites/{wpcom_site}/staging-site/production-site-details
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/staging-site/pull-from-staging/{staging_site_id}:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteStagingSitePullFromStagingbyStagingSiteId
      summary: POST /wpcom/v2/sites/{wpcom_site}/staging-site/pull-from-staging/{staging_site_id}
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: staging_site_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                allow_woo_sync:
                  type: boolean
                options:
                  type: string
                  items:
                    type: string
  /wpcom/v2/sites/{wpcom_site}/staging-site/push-to-staging/{staging_site_id}:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteStagingSitePushToStagingbyStagingSiteId
      summary: POST /wpcom/v2/sites/{wpcom_site}/staging-site/push-to-staging/{staging_site_id}
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: staging_site_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                options:
                  type: object
  /wpcom/v2/sites/{wpcom_site}/staging-site/sync-state:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteStagingSiteSyncState
      summary: GET /wpcom/v2/sites/{wpcom_site}/staging-site/sync-state
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/staging-site/validate-quota:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteStagingSiteValidateQuota
      summary: POST /wpcom/v2/sites/{wpcom_site}/staging-site/validate-quota
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/staging-site/{staging_site_id}:
    delete:
      operationId: deleteWpcomV2SitesbyWpcomSiteStagingSitebyStagingSiteId
      summary: DELETE /wpcom/v2/sites/{wpcom_site}/staging-site/{staging_site_id}
      tags:
      - staging-site
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: staging_site_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
