openapi: 3.1.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/.
    Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that
    index. Response schemas are not published in the route index, so successful responses are described
    but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
tags:
- name: a8c-lore
- name: a8cmentorship
- name: activity
- name: activitypub
- name: adflow
- name: admin-bar
- name: admin-color
- name: admin-menu
- name: agency
- name: agency-client
- name: agents-manager
- name: ai
- name: ai-agents-settings
- name: ai-image
- name: ai-launchpad
- name: alerts
- name: analytics
- name: analyze-url
- name: app-media
- name: articles
- name: atomic
- name: atomic-migration-status
- name: auth
- name: automated-migration
- name: backup
- name: big-sky
- name: blaze
- name: block-editor
- name: block-layouts
- name: block-previews
- name: block-recipes
- name: block-renderer
- name: blog-stats
- name: blogging-prompts
- name: blueprint-archive
- name: blueprint-archive-import
- name: breakingbot
- name: business-hours
- name: calypso-slack-channel-status
- name: ceo-voice-agent
- name: checkGoogleDocVisibility
- name: ciab
- name: cmp
- name: colors
- name: coming-soon
- name: commercial-classification
- name: common-block-layouts
- name: common-starter-site-designs
- name: concierge
- name: content-research
- name: copy-from-site
- name: country-codes
- name: courses
- name: currency-overrides
- name: dashboard
- name: dashboards
- name: deepl
- name: dictation-client-secret
- name: discount
- name: do-it-for-me
- name: domains
- name: editor
- name: editor-assets
- name: email-like
- name: email-preview
- name: emails
- name: enterpret-webhook
- name: experiments
- name: external-contributors
- name: external-media
- name: external-services
- name: following
- name: fsor-airtable-report
- name: github
- name: global-styles
- name: global-styles-variation
- name: glossary
- name: goodreads
- name: google-drive
- name: grafana
- name: gravatar
- name: gravatar-upload
- name: gutenberg
- name: gutenpen
- name: hello
- name: help
- name: home
- name: host-partners
- name: hosting
- name: hosting-provider
- name: iap
- name: imports
- name: individual-subscriber-stats
- name: instagram
- name: instagram-gallery
- name: introductory-offers
- name: invites
- name: ip-to-geo
- name: jetpack
- name: jetpack-about
- name: jetpack-active-connected-plugins
- name: jetpack-agency
- name: jetpack-ai
- name: jetpack-ai-image
- name: jetpack-ai-query
- name: jetpack-ai-transcription
- name: jetpack-boost
- name: jetpack-boost-proxy
- name: jetpack-clone-settings
- name: jetpack-connect
- name: jetpack-connection-health
- name: jetpack-golden-token
- name: jetpack-licensing
- name: jetpack-manage
- name: jetpack-marketing
- name: jetpack-monitor-incidents
- name: jetpack-monitor-settings
- name: jetpack-monitor-status
- name: jetpack-monitor-uptime
- name: jetpack-openai-query
- name: jetpack-package-versions
- name: jetpack-partner
- name: jetpack-partners
- name: jetpack-pinghub
- name: jetpack-product-data
- name: jetpack-protect-global-stats
- name: jetpack-protect-send-verification-code
- name: jetpack-protect-status
- name: jetpack-protect-weak-password
- name: jetpack-recommendations
- name: jetpack-refresh-blog-token
- name: jetpack-remote-connect-user
- name: jetpack-report-error
- name: jetpack-search
- name: jetpack-social
- name: jetpack-start-webhooks
- name: jetpack-stats
- name: jetpack-stats-dashboard
- name: jetpack-sync-actions
- name: jetpack-token-health
- name: jetpack-user-attributes
- name: jetpack-user-tracking
- name: jetpack-wpcom-user-data
- name: jitm
- name: jurassic-ninja
- name: lasagna
- name: launch
- name: launch-site
- name: launchpad
- name: legal
- name: liked-posts
- name: linear-solver
- name: linearmattic
- name: mailchimp
- name: mailpoet
- name: mapbox
- name: mapkit
- name: marketing
- name: marketplace
- name: mcp-abilities
- name: me
- name: media
- name: memberships
- name: meta
- name: migrate-from
- name: migrate-provision
- name: migration-enabled
- name: migration-flow
- name: migration-provider-notifications
- name: migration-provider-redirect
- name: migration-status
- name: migrations
- name: mobile
- name: mobile-support
- name: newsletter-categories
- name: newsletter-email-sent-status
- name: newspack-blocks-posts
- name: newspack-blocks-specific-posts
- name: newspack-gpt
- name: newspack-manager
- name: notifications
- name: nudge
- name: oauth2
- name: odie
- name: odie-search
- name: oembed-proxy
- name: onboarding
- name: onboarding-customization
- name: p2
- name: pagespeed
- name: partners
- name: pattern-assembler
- name: pending-blog-subscriptions
- name: photodna
- name: pigeon
- name: plans
- name: playground
- name: plugins
- name: podcast
- name: podcast-distribution
- name: podcast-player
- name: podcast-stats
- name: portfolio-dashboard-agent
- name: post-comment-subscriptions
- name: post-counts
- name: post-types
- name: posts
- name: posts-to-podcast
- name: presales
- name: preview-links
- name: pricing-dashboard
- name: privacy-policy
- name: private
- name: private-podcasts
- name: products
- name: profile
- name: publicize
- name: push-notifications
- name: read
- name: reader
- name: reader-chat-settings
- name: recovery-mode-status
- name: related-posts
- name: reset-migration
- name: reset-site
- name: restore-site
- name: rewind
- name: rtc
- name: rtc-notices
- name: scan
- name: scheduled-updates
- name: search-stats
- name: search-suggestions
- name: seen-posts
- name: segmentation-survey
- name: segments
- name: seller_footer
- name: send
- name: send-email-continue-site-build
- name: send-email-preview
- name: service-api-keys
- name: shares-count
- name: shipstation
- name: simple-payments
- name: site-assembler
- name: site-goals
- name: site-has-never-published-post
- name: site-importer
- name: site-intent
- name: site-migration-status-sticker
- name: site-owner-transfer
- name: site-suggestions
- name: site-type
- name: site-vertical
- name: slack
- name: ssh-migration
- name: staging-site
- name: starter-designs
- name: studio-app
- name: subscribers
- name: subscribers_by_user_type
- name: support-interactions
- name: supportforums
- name: sync
- name: tags
- name: telegram-bot
- name: template-loader
- name: test
- name: text-completion
- name: theme-headstart
- name: theme-setup
- name: theme-support
- name: themes
- name: timezones
- name: titan
- name: top-posts
- name: tortuga
- name: traffic-guide-download
- name: transfer
- name: transients
- name: trelloCallback
- name: trends-agent
- name: tumblr-smtp
- name: twilio-notification
- name: twitter
- name: typekit-fonts
- name: ucp
- name: unauth-file-upload
- name: update-schedules
- name: upgrades
- name: user-type
- name: users
- name: verticals
- name: vibehost
- name: videopress
- name: videos
- name: vip
- name: vouchers
- name: waf-rules
- name: wc
- name: wcai-pa
- name: wcbazaar
- name: wccom
- name: webhook-airtable-create
- name: whats-new
- name: widget-modules
- name: woo
- name: woo-mobile-ai
- name: woocommerce
- name: wordads
- name: wordcamp-coupons
- name: work-with-us
- name: wp-admin-sidebar
- name: wpcom-v2
- name: xposts
- name: zendesk
- name: zendesk-notification
- name: zendesk-notification-staging
paths:
  /wpcom/v2:
    get:
      operationId: getWpcomV2
      summary: GET /wpcom/v2
      tags:
      - wpcom-v2
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wpcom/v2
      - name: context
        in: query
        required: false
        schema:
          default: view
  /wpcom/v2/a8c-lore/slack/events:
    post:
      operationId: postWpcomV2A8CLoreSlackEvents
      summary: POST /wpcom/v2/a8c-lore/slack/events
      tags:
      - a8c-lore
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/a8c-lore/slack/interactivity:
    post:
      operationId: postWpcomV2A8CLoreSlackInteractivity
      summary: POST /wpcom/v2/a8c-lore/slack/interactivity
      tags:
      - a8c-lore
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/a8cmentorship/slack/interactivity:
    post:
      operationId: postWpcomV2A8CmentorshipSlackInteractivity
      summary: POST /wpcom/v2/a8cmentorship/slack/interactivity
      tags:
      - a8cmentorship
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency:
    get:
      operationId: getWpcomV2Agency
      summary: GET /wpcom/v2/agency
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2Agency
      summary: POST /wpcom/v2/agency
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                agency_name:
                  type: string
                agency_url:
                  type: string
                initial_source:
                  type: string
                address_line1:
                  type: string
                  default: ''
                address_line2:
                  type: string
                  default: ''
                address_city:
                  type: string
                address_state:
                  type: string
                  default: ''
                address_postal_code:
                  type: string
                  default: ''
                address_country:
                  type: string
                agency_size:
                  type: string
                number_sites:
                  type: string
                services_offered:
                  type: array
                  items:
                    type: string
                products_offered:
                  type: array
                  items:
                    type: string
                products_to_offer:
                  type: array
                  items:
                    type: string
                expansion_planned:
                  type: string
                referral_url:
                  type: string
                referral_status:
                  type: string
                hubspotutk:
                  type: string
                bypass_duplicate_check:
                  type: boolean
                  default: false
                skip_hubspot:
                  type: boolean
                  default: false
              required:
              - first_name
              - last_name
              - agency_name
              - agency_url
              - address_city
              - address_country
  /wpcom/v2/agency-client/agency/{agency_id}/referrals/{referral_id}:
    get:
      operationId: getWpcomV2AgencyClientAgencybyAgencyIdReferralsbyReferralId
      summary: GET /wpcom/v2/agency-client/agency/{agency_id}/referrals/{referral_id}
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
      - name: secret
        in: query
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencyClientAgencybyAgencyIdReferralsbyReferralId
      summary: POST /wpcom/v2/agency-client/agency/{agency_id}/referrals/{referral_id}
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
              required:
              - secret
  /wpcom/v2/agency-client/license:
    delete:
      operationId: deleteWpcomV2AgencyClientLicense
      summary: DELETE /wpcom/v2/agency-client/license
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: args
        in: query
        required: false
        schema: {}
  /wpcom/v2/agency-client/public/pricing:
    get:
      operationId: getWpcomV2AgencyClientPublicPricing
      summary: GET /wpcom/v2/agency-client/public/pricing
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency-client/public/products:
    get:
      operationId: getWpcomV2AgencyClientPublicProducts
      summary: GET /wpcom/v2/agency-client/public/products
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency-client/referrals:
    get:
      operationId: getWpcomV2AgencyClientReferrals
      summary: GET /wpcom/v2/agency-client/referrals
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency-client/stripe/invoices:
    get:
      operationId: getWpcomV2AgencyClientStripeInvoices
      summary: GET /wpcom/v2/agency-client/stripe/invoices
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: Set this if you want results to be filtered by their status.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 24
        description: The number of invoices to return.
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the
          list.
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the
          list.
  /wpcom/v2/agency-client/stripe/payment-method:
    post:
      operationId: postWpcomV2AgencyClientStripePaymentMethod
      summary: POST /wpcom/v2/agency-client/stripe/payment-method
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: string
                  description: The Stripe payment method ID that should be attached to the customer.
                use_as_primary_payment_method:
                  type: boolean
                  default: false
                  description: Set this payment method as default for the customer.
                stripe_setup_intent_id:
                  type: string
                  default: ''
                  description: The Stripe Setup Intent id for the payment method.
              required:
              - payment_method_id
    delete:
      operationId: deleteWpcomV2AgencyClientStripePaymentMethod
      summary: DELETE /wpcom/v2/agency-client/stripe/payment-method
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: payment_method_id
        in: query
        required: true
        schema:
          type: string
        description: The Stripe payment method ID that should be detached.
      - name: primary_payment_method_id
        in: query
        required: false
        schema:
          type: string
        description: The Stripe payment method ID that should be set as a primary.
  /wpcom/v2/agency-client/stripe/payment-methods:
    get:
      operationId: getWpcomV2AgencyClientStripePaymentMethods
      summary: GET /wpcom/v2/agency-client/stripe/payment-methods
      tags:
      - agency-client
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the
          list.
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
        description: A cursor for use in pagination. It is an object ID that defines your place in the
          list.
  /wpcom/v2/agency/blog/{blog_id}:
    get:
      operationId: getWpcomV2AgencyBlogbyBlogId
      summary: GET /wpcom/v2/agency/blog/{blog_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: blog_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/embeds/tipalti:
    get:
      operationId: getWpcomV2AgencyEmbedsTipalti
      summary: GET /wpcom/v2/agency/embeds/tipalti
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: query
        required: true
        schema:
          type: integer
  /wpcom/v2/agency/exists/name:
    get:
      operationId: getWpcomV2AgencyExistsName
      summary: GET /wpcom/v2/agency/exists/name
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: value
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/agency/exists/url:
    get:
      operationId: getWpcomV2AgencyExistsUrl
      summary: GET /wpcom/v2/agency/exists/url
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: value
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/agency/help/pressable/support:
    post:
      operationId: postWpcomV2AgencyHelpPressableSupport
      summary: POST /wpcom/v2/agency/help/pressable/support
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                site:
                  type: string
                contact_type:
                  type: string
                pressable_id:
                  type: string
                message:
                  type: string
              required:
              - name
              - email
              - contact_type
              - message
  /wpcom/v2/agency/help/zendesk/create-ticket:
    post:
      operationId: postWpcomV2AgencyHelpZendeskCreateTicket
      summary: POST /wpcom/v2/agency/help/zendesk/create-ticket
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                product:
                  type: string
                message:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
              required:
              - name
              - email
              - product
              - message
  /wpcom/v2/agency/hire-an-expert:
    post:
      operationId: postWpcomV2AgencyHireAnExpert
      summary: POST /wpcom/v2/agency/hire-an-expert
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                email:
                  type: string
                company_name:
                  type: string
                url:
                  type: string
                business_description:
                  type: string
                project_goal:
                  type: string
                project_description:
                  type: string
                timeline:
                  type: string
                budget:
                  type: string
                business_unit:
                  type: string
              required:
              - full_name
              - email
  /wpcom/v2/agency/hubspot/webhook:
    post:
      operationId: postWpcomV2AgencyHubspotWebhook
      summary: POST /wpcom/v2/agency/hubspot/webhook
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency/lead-matching/client:
    post:
      operationId: postWpcomV2AgencyLeadMatchingClient
      summary: POST /wpcom/v2/agency/lead-matching/client
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency/license:
    delete:
      operationId: deleteWpcomV2AgencyLicense
      summary: DELETE /wpcom/v2/agency/license
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: args
        in: query
        required: false
        schema: {}
  /wpcom/v2/agency/license/dev-site:
    get:
      operationId: getWpcomV2AgencyLicenseDevSite
      summary: GET /wpcom/v2/agency/license/dev-site
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: args
        in: query
        required: false
        schema: {}
  /wpcom/v2/agency/partner-directory:
    get:
      operationId: getWpcomV2AgencyPartnerDirectory
      summary: GET /wpcom/v2/agency/partner-directory
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: partner_directory
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/agency/partner-directory/form-submission:
    post:
      operationId: postWpcomV2AgencyPartnerDirectoryFormSubmission
      summary: POST /wpcom/v2/agency/partner-directory/form-submission
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_id:
                  type: string
                agency_email:
                  type: string
                full_name:
                  type: string
                email:
                  type: string
                business_name:
                  type: string
                project_description:
                  type: string
                project_type:
                  type: string
                url:
                  type: string
                budget:
                  type: string
              required:
              - agency_id
              - agency_email
              - full_name
              - email
              - business_name
              - project_type
              - budget
  /wpcom/v2/agency/partner-directory/{agency_id}:
    get:
      operationId: getWpcomV2AgencyPartnerDirectorybyAgencyId
      summary: GET /wpcom/v2/agency/partner-directory/{agency_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/pressable/new-account:
    post:
      operationId: postWpcomV2AgencyPressableNewAccount
      summary: POST /wpcom/v2/agency/pressable/new-account
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                chargify_id:
                  type: integer
                pressable_id:
                  type: integer
              required:
              - email
              - chargify_id
  /wpcom/v2/agency/pressable/premium-plan-referral:
    post:
      operationId: postWpcomV2AgencyPressablePremiumPlanReferral
      summary: POST /wpcom/v2/agency/pressable/premium-plan-referral
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_id:
                  type: integer
                company_name:
                  type: string
                address:
                  type: string
                country_code:
                  type: string
                state:
                  type: string
                city:
                  type: string
                zip:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                website:
                  type: string
                opportunity_description:
                  type: string
              required:
              - agency_id
              - company_name
              - address
              - country_code
              - city
              - zip
              - first_name
              - last_name
              - title
              - email
              - website
              - opportunity_description
  /wpcom/v2/agency/products:
    get:
      operationId: getWpcomV2AgencyProducts
      summary: GET /wpcom/v2/agency/products
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency/resources:
    get:
      operationId: getWpcomV2AgencyResources
      summary: GET /wpcom/v2/agency/resources
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency/resources/record-event:
    post:
      operationId: postWpcomV2AgencyResourcesRecordEvent
      summary: POST /wpcom/v2/agency/resources/record-event
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_id:
                  type: integer
                  description: The agency ID.
                resource_id:
                  type: string
                resource_name:
                  type: string
              required:
              - agency_id
              - resource_id
              - resource_name
  /wpcom/v2/agency/signup:
    post:
      operationId: postWpcomV2AgencySignup
      summary: POST /wpcom/v2/agency/signup
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                agency_name:
                  type: string
                agency_url:
                  type: string
                initial_source:
                  type: string
                address_line1:
                  type: string
                  default: ''
                address_line2:
                  type: string
                  default: ''
                address_city:
                  type: string
                  default: ''
                address_state:
                  type: string
                  default: ''
                address_postal_code:
                  type: string
                  default: ''
                address_country:
                  type: string
                agency_size:
                  type: string
                number_sites:
                  type: string
                services_offered:
                  type: array
                  items:
                    type: string
                products_offered:
                  type: array
                  items:
                    type: string
                products_to_offer:
                  type: array
                  items:
                    type: string
                expansion_planned:
                  type: string
                referral_url:
                  type: string
                referral_status:
                  type: string
                top_partnering_goal:
                  type: string
                top_yearly_goal:
                  type: string
                work_with_clients:
                  type: string
                work_with_clients_other:
                  type: string
                  default: ''
                approach_and_challenges:
                  type: string
                  default: ''
              required:
              - first_name
              - last_name
              - email
              - agency_name
              - agency_url
              - address_country
  /wpcom/v2/agency/signup-context:
    get:
      operationId: getWpcomV2AgencySignupContext
      summary: GET /wpcom/v2/agency/signup-context
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/agency/signup/contact-support:
    post:
      operationId: postWpcomV2AgencySignupContactSupport
      summary: POST /wpcom/v2/agency/signup/contact-support
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                message:
                  type: string
                signup_agency_name:
                  type: string
                signup_agency_url:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
              required:
              - name
              - email
              - message
  /wpcom/v2/agency/user-feedback:
    post:
      operationId: postWpcomV2AgencyUserFeedback
      summary: POST /wpcom/v2/agency/user-feedback
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_url:
                  type: string
                rating:
                  type: integer
                feedback:
                  type: string
              required:
              - source_url
              - rating
              - feedback
  /wpcom/v2/agency/validate/{field}:
    get:
      operationId: getWpcomV2AgencyValidatebyField
      summary: GET /wpcom/v2/agency/validate/{field}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: field
        in: path
        required: true
        schema:
          type: string
      - name: value
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/agency/vip/partner-opportunity:
    post:
      operationId: postWpcomV2AgencyVipPartnerOpportunity
      summary: POST /wpcom/v2/agency/vip/partner-opportunity
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_id:
                  type: integer
                company_name:
                  type: string
                address:
                  type: string
                country_code:
                  type: string
                state:
                  type: string
                city:
                  type: string
                zip:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                website:
                  type: string
                opportunity_description:
                  type: string
                lead_type:
                  type: string
                is_rfp:
                  type: boolean
              required:
              - agency_id
              - company_name
              - address
              - country_code
              - city
              - zip
              - first_name
              - last_name
              - title
              - email
              - website
              - opportunity_description
              - lead_type
              - is_rfp
  /wpcom/v2/agency/{agency_id}:
    put:
      operationId: putWpcomV2AgencybyAgencyId
      summary: PUT /wpcom/v2/agency/{agency_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_name:
                  type: string
                agency_url:
                  type: string
                address_line1:
                  type: string
                address_line2:
                  type: string
                address_city:
                  type: string
                address_state:
                  type: string
                address_postal_code:
                  type: string
                address_country:
                  type: string
  /wpcom/v2/agency/{agency_id}/a4a-mcp/settings:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4AMcpSettings
      summary: GET /wpcom/v2/agency/{agency_id}/a4a-mcp/settings
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencybyAgencyIdA4AMcpSettings
      summary: POST /wpcom/v2/agency/{agency_id}/a4a-mcp/settings
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                abilities:
                  type: object
  /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4ACollateralbyPostId
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: post_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}/html:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4ACollateralbyPostIdHtml
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}/html
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: post_id
        in: path
        required: true
        schema:
          type: string
      - name: variant
        in: query
        required: true
        schema:
          type: string
      - name: sig
        in: query
        required: true
        schema:
          type: string
      - name: layout
        in: query
        required: false
        schema:
          type: string
          enum:
          - document
          - filmstrip
      - name: pages
        in: query
        required: false
        schema:
          type: integer
  /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}/pdf:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4ACollateralbyPostIdPdf
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}/pdf
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: post_id
        in: path
        required: true
        schema:
          type: string
      - name: variant
        in: query
        required: true
        schema:
          type: string
      - name: sig
        in: query
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}/social/{direction_id}/{size}/png:
    post:
      operationId: postWpcomV2AgencybyAgencyIdA4ACollateralbyPostIdSocialbyDirectionIdbySizePng
      summary: POST /wpcom/v2/agency/{agency_id}/a4a/collateral/{post_id}/social/{direction_id}/{size}/png
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: post_id
        in: path
        required: true
        schema:
          type: string
      - name: direction_id
        in: path
        required: true
        schema:
          type: string
      - name: size
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                width:
                  type: integer
                height:
                  type: integer
              required:
              - html
              - width
              - height
  /wpcom/v2/agency/{agency_id}/a4a/collaterals/{collateral_id}/refine:
    post:
      operationId: postWpcomV2AgencybyAgencyIdA4ACollateralsbyCollateralIdRefine
      summary: POST /wpcom/v2/agency/{agency_id}/a4a/collaterals/{collateral_id}/refine
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: collateral_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instruction:
                  type: string
              required:
              - instruction
  /wpcom/v2/agency/{agency_id}/a4a/outputs:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4AOutputs
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/outputs
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/a4a/projects:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4AProjects
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/projects
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencybyAgencyIdA4AProjects
      summary: POST /wpcom/v2/agency/{agency_id}/a4a/projects
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                clientName:
                  type: string
                brief:
                  type: string
              required:
              - name
  /wpcom/v2/agency/{agency_id}/a4a/projects/{project_id}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4AProjectsbyProjectId
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/projects/{project_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2AgencybyAgencyIdA4AProjectsbyProjectId
      summary: DELETE /wpcom/v2/agency/{agency_id}/a4a/projects/{project_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/a4a/projects/{project_id}/outputs:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4AProjectsbyProjectIdOutputs
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/projects/{project_id}/outputs
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/a4a/runs:
    post:
      operationId: postWpcomV2AgencybyAgencyIdA4ARuns
      summary: POST /wpcom/v2/agency/{agency_id}/a4a/runs
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recipe:
                  type: string
                input:
                  type: object
                  default: {}
              required:
              - recipe
  /wpcom/v2/agency/{agency_id}/a4a/runs/{run_id}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdA4ARunsbyRunId
      summary: GET /wpcom/v2/agency/{agency_id}/a4a/runs/{run_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: run_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2AgencybyAgencyIdA4ARunsbyRunId
      summary: DELETE /wpcom/v2/agency/{agency_id}/a4a/runs/{run_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: run_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/amplify/reports:
    post:
      operationId: postWpcomV2AgencybyAgencyIdAmplifyReports
      summary: POST /wpcom/v2/agency/{agency_id}/amplify/reports
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                mode:
                  type: string
              required:
              - url
              - mode
    get:
      operationId: getWpcomV2AgencybyAgencyIdAmplifyReports
      summary: GET /wpcom/v2/agency/{agency_id}/amplify/reports
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 20
  /wpcom/v2/agency/{agency_id}/amplify/reports/{report_id}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdAmplifyReportsbyReportId
      summary: GET /wpcom/v2/agency/{agency_id}/amplify/reports/{report_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: report_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencybyAgencyIdAmplifyReportsbyReportId
      summary: POST /wpcom/v2/agency/{agency_id}/amplify/reports/{report_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: report_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                archived:
                  type: boolean
              required:
              - archived
    put:
      operationId: putWpcomV2AgencybyAgencyIdAmplifyReportsbyReportId
      summary: PUT /wpcom/v2/agency/{agency_id}/amplify/reports/{report_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: report_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                archived:
                  type: boolean
              required:
              - archived
    patch:
      operationId: patchWpcomV2AgencybyAgencyIdAmplifyReportsbyReportId
      summary: PATCH /wpcom/v2/agency/{agency_id}/amplify/reports/{report_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: report_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                archived:
                  type: boolean
              required:
              - archived
  /wpcom/v2/agency/{agency_id}/benchmarks:
    get:
      operationId: getWpcomV2AgencybyAgencyIdBenchmarks
      summary: GET /wpcom/v2/agency/{agency_id}/benchmarks
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencybyAgencyIdBenchmarks
      summary: POST /wpcom/v2/agency/{agency_id}/benchmarks
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                quarter:
                  type: integer
                year:
                  type: integer
                gross_margin:
                  type: number
                billable_utilization:
                  type: number
                avg_project_size_usd:
                  type: number
                win_rate:
                  type: number
                retainer_mrr_usd:
                  type: number
                avg_time_to_close_days:
                  type: integer
                client_retention:
                  type: number
                ai_work_involvement:
                  type: number
                ai_revenue_percentage:
                  type: number
                ai_productivity_lift:
                  type: number
                team_ai_training_percentage:
                  type: number
                governance_maturity:
                  type: string
                  enum:
                  - none
                  - informal_guidelines
                  - documented_policy
                  - policy_client_contracts_updated
                  - full_governance_program_with_audits
                stakeholder_demand:
                  type: string
                  enum:
                  - no_client_demand_yet
                  - occasional_asks
                  - frequent_asks
                  - majority_of_new_work
                  - all_new_work_is_ai_related
                ai_tools_used:
                  type: array
                  default: []
                  items:
                    type: string
                ai_use_cases:
                  type: array
                  default: []
                  items:
                    type: string
              required:
              - quarter
              - year
              - gross_margin
              - billable_utilization
              - avg_project_size_usd
              - win_rate
              - retainer_mrr_usd
              - avg_time_to_close_days
              - client_retention
              - ai_work_involvement
              - ai_revenue_percentage
              - ai_productivity_lift
              - team_ai_training_percentage
              - governance_maturity
              - stakeholder_demand
  /wpcom/v2/agency/{agency_id}/benchmarks/aggregates:
    get:
      operationId: getWpcomV2AgencybyAgencyIdBenchmarksAggregates
      summary: GET /wpcom/v2/agency/{agency_id}/benchmarks/aggregates
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: quarter
        in: query
        required: false
        schema:
          type: integer
      - name: year
        in: query
        required: false
        schema:
          type: integer
  /wpcom/v2/agency/{agency_id}/benchmarks/config:
    get:
      operationId: getWpcomV2AgencybyAgencyIdBenchmarksConfig
      summary: GET /wpcom/v2/agency/{agency_id}/benchmarks/config
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/benchmarks/peers:
    get:
      operationId: getWpcomV2AgencybyAgencyIdBenchmarksPeers
      summary: GET /wpcom/v2/agency/{agency_id}/benchmarks/peers
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: quarter
        in: query
        required: true
        schema:
          type: integer
      - name: year
        in: query
        required: true
        schema:
          type: integer
  /wpcom/v2/agency/{agency_id}/benchmarks/{quarter}/{year}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdBenchmarksbyQuarterbyYear
      summary: GET /wpcom/v2/agency/{agency_id}/benchmarks/{quarter}/{year}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: quarter
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/clients:
    get:
      operationId: getWpcomV2AgencybyAgencyIdClients
      summary: GET /wpcom/v2/agency/{agency_id}/clients
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencybyAgencyIdClients
      summary: POST /wpcom/v2/agency/{agency_id}/clients
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
              - email
  /wpcom/v2/agency/{agency_id}/clients/{client_id}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdClientsbyClientId
      summary: GET /wpcom/v2/agency/{agency_id}/clients/{client_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: client_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2AgencybyAgencyIdClientsbyClientId
      summary: PUT /wpcom/v2/agency/{agency_id}/clients/{client_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
              - email
    delete:
      operationId: deleteWpcomV2AgencybyAgencyIdClientsbyClientId
      summary: DELETE /wpcom/v2/agency/{agency_id}/clients/{client_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: client_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/lead-matching:
    get:
      operationId: getWpcomV2AgencybyAgencyIdLeadMatching
      summary: GET /wpcom/v2/agency/{agency_id}/lead-matching
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2AgencybyAgencyIdLeadMatching
      summary: PUT /wpcom/v2/agency/{agency_id}/lead-matching
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/media:
    post:
      operationId: postWpcomV2AgencybyAgencyIdMedia
      summary: POST /wpcom/v2/agency/{agency_id}/media
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_type:
                  type: string
                  enum:
                  - partner_directory_logo
                  - agent_media
              required:
              - asset_type
  /wpcom/v2/agency/{agency_id}/profile:
    put:
      operationId: putWpcomV2AgencybyAgencyIdProfile
      summary: PUT /wpcom/v2/agency/{agency_id}/profile
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_company_name:
                  type: string
                profile_company_email:
                  type: string
                  format: email
                profile_company_website:
                  type: string
                  format: uri
                profile_company_bio_description:
                  type: string
                profile_company_logo_url:
                  type: string
                  format: uri
                profile_company_country:
                  type: string
                profile_company_landing_page_url:
                  type: string
                  format: uri
                profile_listing_industries:
                  type: array
                  items: {}
                profile_listing_is_available:
                  type: string
                profile_listing_is_global:
                  type: string
                profile_listing_services:
                  type: array
                  items: {}
                profile_listing_products:
                  type: array
                  items: {}
                profile_listing_languages_spoken:
                  type: array
                  items: {}
                profile_budget_budget_lower_range: {}
                profile_budget_budget_upper_range: {}
  /wpcom/v2/agency/{agency_id}/profile/application:
    put:
      operationId: putWpcomV2AgencybyAgencyIdProfileApplication
      summary: PUT /wpcom/v2/agency/{agency_id}/profile/application
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  items: {}
                products:
                  type: array
                  items: {}
                directories:
                  type: array
                  items: {}
                feedback_url:
                  type: string
                is_published:
                  type: boolean
  /wpcom/v2/agency/{agency_id}/referral-email-preview:
    post:
      operationId: postWpcomV2AgencybyAgencyIdReferralEmailPreview
      summary: POST /wpcom/v2/agency/{agency_id}/referral-email-preview
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: array
                  items:
                    type: integer
                greeting_line:
                  type: string
                logo_url:
                  type: string
                term_pricing:
                  type: string
                  enum:
                  - monthly
                  - yearly
                  default: yearly
              required:
              - product_ids
  /wpcom/v2/agency/{agency_id}/referrals:
    get:
      operationId: getWpcomV2AgencybyAgencyIdReferrals
      summary: GET /wpcom/v2/agency/{agency_id}/referrals
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2AgencybyAgencyIdReferrals
      summary: POST /wpcom/v2/agency/{agency_id}/referrals
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_email:
                  type: string
                client_message:
                  type: string
                flow_type:
                  type: string
                  enum:
                  - send
                  - copy
                logo:
                  type: object
                product_ids:
                  type: array
                  items:
                    type: integer
                licenses:
                  type: array
                  items:
                    type: object
              required:
              - client_email
              - product_ids
  /wpcom/v2/agency/{agency_id}/referrals/commission-payout:
    get:
      operationId: getWpcomV2AgencybyAgencyIdReferralsCommissionPayout
      summary: GET /wpcom/v2/agency/{agency_id}/referrals/commission-payout
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/referrals/invoices:
    get:
      operationId: getWpcomV2AgencybyAgencyIdReferralsInvoices
      summary: GET /wpcom/v2/agency/{agency_id}/referrals/invoices
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/referrals/{referral_id}:
    get:
      operationId: getWpcomV2AgencybyAgencyIdReferralsbyReferralId
      summary: GET /wpcom/v2/agency/{agency_id}/referrals/{referral_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2AgencybyAgencyIdReferralsbyReferralId
      summary: DELETE /wpcom/v2/agency/{agency_id}/referrals/{referral_id}
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/referrals/{referral_id}/archive:
    post:
      operationId: postWpcomV2AgencybyAgencyIdReferralsbyReferralIdArchive
      summary: POST /wpcom/v2/agency/{agency_id}/referrals/{referral_id}/archive
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2AgencybyAgencyIdReferralsbyReferralIdArchive
      summary: PUT /wpcom/v2/agency/{agency_id}/referrals/{referral_id}/archive
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2AgencybyAgencyIdReferralsbyReferralIdArchive
      summary: PATCH /wpcom/v2/agency/{agency_id}/referrals/{referral_id}/archive
      tags:
      - agency
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
      - name: referral_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/agency/{agency_id}/referrals/{referral_id}/resend:
    post:
      operationId: postWpcomV2AgencybyAgencyIdReferralsbyReferralIdResend
[...]
