openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Pigeon API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: pigeon
paths:
  /wpcom/v2/pigeon/confirm:
    get:
      operationId: getWpcomV2PigeonConfirm
      summary: GET /wpcom/v2/pigeon/confirm
      tags:
      - pigeon
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: nonce
        in: query
        required: true
        schema:
          type: string
      - name: email_address
        in: query
        required: true
        schema:
          type: string
          format: email
      - name: first_name
        in: query
        required: true
        schema:
          type: string
      - name: last_name
        in: query
        required: false
        schema:
          type: string
      - name: mailing_list_category
        in: query
        required: true
        schema:
          type: string
      - name: from_path
        in: query
        required: true
        schema:
          type: string
      - name: from_href
        in: query
        required: true
        schema:
          type: string
      - name: redirect_to
        in: query
        required: false
        schema:
          type: string
      - name: question
        in: query
        required: false
        schema:
          type: string
      - name: question_response
        in: query
        required: false
        schema:
          type: string
  /wpcom/v2/pigeon/subscribe:
    post:
      operationId: postWpcomV2PigeonSubscribe
      summary: POST /wpcom/v2/pigeon/subscribe
      tags:
      - pigeon
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nonce:
                  type: string
                email_address:
                  type: string
                  format: email
                first_name:
                  type: string
                last_name:
                  type: string
                mailing_list_category:
                  type: string
                from_path:
                  type: string
                from_href:
                  type: string
                redirect_to:
                  type: string
                question:
                  type: string
                question_response:
                  type: string
              required:
              - nonce
              - email_address
              - first_name
              - mailing_list_category
              - from_path
              - from_href
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
