openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Send API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: send
paths:
  /wpcom/v2/send/pressable-hubspot-form/new:
    post:
      operationId: postWpcomV2SendPressableHubspotFormNew
      summary: POST /wpcom/v2/send/pressable-hubspot-form/new
      tags:
      - send
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                host_name:
                  type: string
              required:
              - first_name
              - last_name
              - email
              - host_name
  /wpcom/v2/send/spain-newsletter/new:
    post:
      operationId: postWpcomV2SendSpainNewsletterNew
      summary: POST /wpcom/v2/send/spain-newsletter/new
      tags:
      - send
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                form_id:
                  type: string
                profile:
                  type: string
                _landing_page:
                  type: string
              required:
              - first_name
              - last_name
              - email
  /wpcom/v2/send/wpcom-education/new:
    post:
      operationId: postWpcomV2SendWpcomEducationNew
      summary: POST /wpcom/v2/send/wpcom-education/new
      tags:
      - send
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                institution:
                  type: string
                institution_website:
                  type: string
                course:
                  type: string
                topic:
                  type: string
                  enum:
                  - it
                  - marketing
                  - journalism
                  - arts
                  - other
                number_of_students:
                  type: integer
                future_wordpress_usage:
                  type: string
                current_wordpress_usage:
                  type: string
                  enum:
                  - shared_server
                  - local_installation
                  - free_temporary_online_service
                  - playground
                  - wordpress_com_free_plan
                  - do_not_use_wordpress
                  - other
                start_date:
                  type: string
                end_date:
                  type: string
                comments:
                  type: string
                _landing_page:
                  type: string
                _language:
                  type: string
                program_type:
                  type: string
                school_type:
                  type: string
              required:
              - first_name
              - last_name
              - email
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
