openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Support Interactions API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: support-interactions
paths:
  /wpcom/v2/support-interactions:
    get:
      operationId: getWpcomV2SupportInteractions
      summary: GET /wpcom/v2/support-interactions
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
      - name: is_test_mode
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
    post:
      operationId: postWpcomV2SupportInteractions
      summary: POST /wpcom/v2/support-interactions
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_external_id:
                  type: string
                is_test_mode:
                  type: boolean
                  default: false
                event_source:
                  type: string
                  enum:
                  - help-center
                  - odie
                  - zendesk
                  - zendesk_staging
                bot_slug:
                  type: string
                event_metadata:
                  type: string
              required:
              - event_external_id
              - event_source
  /wpcom/v2/support-interactions/{support_interaction_id}:
    get:
      operationId: getWpcomV2SupportInteractionsbySupportInteractionId
      summary: GET /wpcom/v2/support-interactions/{support_interaction_id}
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: support_interaction_id
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/support-interactions/{support_interaction_id}/events:
    post:
      operationId: postWpcomV2SupportInteractionsbySupportInteractionIdEvents
      summary: POST /wpcom/v2/support-interactions/{support_interaction_id}/events
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: support_interaction_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_external_id:
                  type: string
                event_source:
                  type: string
                  enum:
                  - help-center
                  - odie
                  - zendesk
                  - zendesk_staging
                event_metadata:
                  type: string
                is_test_mode:
                  type: boolean
                  default: false
              required:
              - event_external_id
              - event_source
  /wpcom/v2/support-interactions/{support_interaction_id}/status:
    post:
      operationId: postWpcomV2SupportInteractionsbySupportInteractionIdStatus
      summary: POST /wpcom/v2/support-interactions/{support_interaction_id}/status
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: support_interaction_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - open
                  - solved
                  - closed
              required:
              - status
    put:
      operationId: putWpcomV2SupportInteractionsbySupportInteractionIdStatus
      summary: PUT /wpcom/v2/support-interactions/{support_interaction_id}/status
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: support_interaction_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - open
                  - solved
                  - closed
              required:
              - status
    patch:
      operationId: patchWpcomV2SupportInteractionsbySupportInteractionIdStatus
      summary: PATCH /wpcom/v2/support-interactions/{support_interaction_id}/status
      tags:
      - support-interactions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: support_interaction_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - open
                  - solved
                  - closed
              required:
              - status
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
