openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Block Previews API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: block-previews
paths:
  /wpcom/v2/block-previews/pattern:
    get:
      operationId: getWpcomV2BlockPreviewsPattern
      summary: GET /wpcom/v2/block-previews/pattern
      tags:
      - block-previews
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: demo_site
        in: query
        required: false
        schema:
          type: string
        description: A domain or blog ID of the site you want to preview.
      - name: stylesheet
        in: query
        required: false
        schema:
          type: string
          default: pub/zoologist
        description: 'Theme stylesheet, e.g.: pub/zoologist'
      - name: source_site
        in: query
        required: false
        schema:
          type: string
        description: 'Source site of the pattern, e.g.: dotcompatterns.wordpress.com'
      - name: pattern_id
        in: query
        required: true
        schema:
          type: string
        description: 'Post id of the pattern with the source site id encoded or not, e.g.: 123 or 123-174455321'
      - name: language
        in: query
        required: false
        schema:
          type: string
          default: en
        description: 'Language, e.g.: ja'
      - name: site_title
        in: query
        required: false
        schema:
          type: string
        description: 'Site title to inject in the header, e.g.: My Restaurant'
      - name: site_tagline
        in: query
        required: false
        schema:
          type: string
        description: Tagline of the site being previewed.
      - name: site_logo_url
        in: query
        required: false
        schema:
          type: string
        description: The logo url of the site being previewed.
      - name: viewport_height
        in: query
        required: false
        schema:
          type: integer
        description: The viewport height in px to approximate in CSS
      - name: vertical_id
        in: query
        required: false
        schema:
          type: string
        description: 'Vertical ID, e.g.: 3'
      - name: use_screenshot_overrides
        in: query
        required: false
        schema:
          type: string
        description: Override the preview markup to be more compatible for taking screenshots
  /wpcom/v2/block-previews/site:
    get:
      operationId: getWpcomV2BlockPreviewsSite
      summary: GET /wpcom/v2/block-previews/site
      tags:
      - block-previews
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: demo_site
        in: query
        required: false
        schema:
          type: string
        description: A domain or blog ID of the site you want to preview.
      - name: stylesheet
        in: query
        required: false
        schema:
          type: string
          default: pub/zoologist
        description: 'Theme stylesheet, e.g.: pub/zoologist'
      - name: pattern_ids
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: 'Comma-separated list of post ids with the source site id encoded, e.g.: 123-174455321,456-174455321. It&#039;s used to override original content'
      - name: source_site
        in: query
        required: false
        schema:
          type: string
        description: 'Source site of the pattern, e.g.: casselstarter.wordpress.com'
      - name: language
        in: query
        required: false
        schema:
          type: string
          default: en
        description: 'Language, e.g.: ja'
      - name: site_title
        in: query
        required: false
        schema:
          type: string
        description: 'Site title to inject in the header, e.g.: My Restaurant'
      - name: site_tagline
        in: query
        required: false
        schema:
          type: string
        description: Tagline of the site being previewed.
      - name: site_logo_url
        in: query
        required: false
        schema:
          type: string
        description: The logo url of the site being previewed.
      - name: viewport_height
        in: query
        required: false
        schema:
          type: integer
        description: The viewport height in px to approximate in CSS
      - name: vertical_id
        in: query
        required: false
        schema:
          type: string
        description: 'Vertical ID, e.g.: 3'
      - name: colors
        in: query
        required: false
        schema:
          type: array
          items: {}
        description: Custom CSS colors (background, text or links) to override original style.
      - name: use_screenshot_overrides
        in: query
        required: false
        schema:
          type: string
        description: Override the preview markup to be more compatible for taking screenshots
      - name: header_pattern_ids
        in: query
        required: false
        schema:
          type: string
        description: 'Comma-separated list of post ids with the source site id encoded, e.g.: 123-174455321,456-174455321. It&#039;s used to override original header'
      - name: footer_pattern_ids
        in: query
        required: false
        schema:
          type: string
        description: 'Comma-separated list of post ids with the source site id encoded, e.g.: 123-174455321,456-174455321. It&#039;s used to override original footer'
      - name: style_variation
        in: query
        required: false
        schema:
          type: string
        description: Title of a theme variation to override the default variation
      - name: viewport_unit_to_px
        in: query
        required: false
        schema:
          type: string
        description: Override viewport units to px
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
