openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Typekit Fonts API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: typekit-fonts
paths:
  /wpcom/v2/sites/{wpcom_site}/typekit-fonts:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteTypekitFonts
      summary: POST /wpcom/v2/sites/{wpcom_site}/typekit-fonts
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains: {}
                name: {}
                subset: {}
                families: {}
              required:
              - domains
              - name
              - subset
              - families
  /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{domain}/previewkit:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteTypekitFontsbyDomainPreviewkit
      summary: GET /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{domain}/previewkit
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: domain
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{fontId}/family:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteTypekitFontsbyFontidFamily
      summary: GET /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{fontId}/family
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: fontId
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteTypekitFontsbyKitid
      summary: GET /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWpcomV2SitesbyWpcomSiteTypekitFontsbyKitid
      summary: DELETE /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteTypekitFontsbyKitid
      summary: POST /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains: {}
                name: {}
                subset: {}
                families: {}
              required:
              - domains
              - name
              - subset
              - families
    put:
      operationId: putWpcomV2SitesbyWpcomSiteTypekitFontsbyKitid
      summary: PUT /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains: {}
                name: {}
                subset: {}
                families: {}
              required:
              - domains
              - name
              - subset
              - families
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteTypekitFontsbyKitid
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains: {}
                name: {}
                subset: {}
                families: {}
              required:
              - domains
              - name
              - subset
              - families
  /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}/publish:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteTypekitFontsbyKitidPublish
      summary: POST /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}/publish
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteTypekitFontsbyKitidPublish
      summary: PUT /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}/publish
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteTypekitFontsbyKitidPublish
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/typekit-fonts/{kitId}/publish
      tags:
      - typekit-fonts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: kitId
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
