openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Pricing Dashboard API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: pricing-dashboard
paths:
  /wpcom/v2/pricing-dashboard/currencies:
    get:
      operationId: getWpcomV2PricingDashboardCurrencies
      summary: GET /wpcom/v2/pricing-dashboard/currencies
      tags:
      - pricing-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/pricing-dashboard/jetpack-products:
    get:
      operationId: getWpcomV2PricingDashboardJetpackProducts
      summary: GET /wpcom/v2/pricing-dashboard/jetpack-products
      tags:
      - pricing-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/pricing-dashboard/prices:
    get:
      operationId: getWpcomV2PricingDashboardPrices
      summary: GET /wpcom/v2/pricing-dashboard/prices
      tags:
      - pricing-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: products
        in: query
        required: true
        schema: {}
        description: The product IDs to fetch prices for. Can be a comma-separated string or an array of integers.
      - name: env
        in: query
        required: true
        schema:
          type: string
          enum:
          - staging
          - production
    post:
      operationId: postWpcomV2PricingDashboardPrices
      summary: POST /wpcom/v2/pricing-dashboard/prices
      tags:
      - pricing-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                p2_url:
                  type: string
                  format: uri
                data:
                  type: object
                dry_run:
                  type: boolean
              required:
              - p2_url
              - data
  /wpcom/v2/pricing-dashboard/prod-sync:
    post:
      operationId: postWpcomV2PricingDashboardProdSync
      summary: POST /wpcom/v2/pricing-dashboard/prod-sync
      tags:
      - pricing-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/pricing-dashboard/staging-prod-diff:
    get:
      operationId: getWpcomV2PricingDashboardStagingProdDiff
      summary: GET /wpcom/v2/pricing-dashboard/staging-prod-diff
      tags:
      - pricing-dashboard
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
