openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Block Editor API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: block-editor
paths:
  /wpcom/v2/sites/{wpcom_site}/block-editor:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlockEditor
      summary: GET /wpcom/v2/sites/{wpcom_site}/block-editor
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-seller-celebration-modal:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlockEditorHasSeenSellerCelebrationModal
      summary: GET /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-seller-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteBlockEditorHasSeenSellerCelebrationModal
      summary: POST /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-seller-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                has_seen_seller_celebration_modal:
                  type: boolean
              required:
              - has_seen_seller_celebration_modal
    put:
      operationId: putWpcomV2SitesbyWpcomSiteBlockEditorHasSeenSellerCelebrationModal
      summary: PUT /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-seller-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                has_seen_seller_celebration_modal:
                  type: boolean
              required:
              - has_seen_seller_celebration_modal
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteBlockEditorHasSeenSellerCelebrationModal
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-seller-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                has_seen_seller_celebration_modal:
                  type: boolean
              required:
              - has_seen_seller_celebration_modal
  /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-video-celebration-modal:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlockEditorHasSeenVideoCelebrationModal
      summary: GET /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-video-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteBlockEditorHasSeenVideoCelebrationModal
      summary: POST /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-video-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                has_seen_video_celebration_modal:
                  type: boolean
              required:
              - has_seen_video_celebration_modal
    put:
      operationId: putWpcomV2SitesbyWpcomSiteBlockEditorHasSeenVideoCelebrationModal
      summary: PUT /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-video-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                has_seen_video_celebration_modal:
                  type: boolean
              required:
              - has_seen_video_celebration_modal
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteBlockEditorHasSeenVideoCelebrationModal
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/block-editor/has-seen-video-celebration-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                has_seen_video_celebration_modal:
                  type: boolean
              required:
              - has_seen_video_celebration_modal
  /wpcom/v2/sites/{wpcom_site}/block-editor/nux:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlockEditorNux
      summary: GET /wpcom/v2/sites/{wpcom_site}/block-editor/nux
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteBlockEditorNux
      summary: POST /wpcom/v2/sites/{wpcom_site}/block-editor/nux
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteBlockEditorNux
      summary: PUT /wpcom/v2/sites/{wpcom_site}/block-editor/nux
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteBlockEditorNux
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/block-editor/nux
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/block-editor/recommended-tags-modal-dismissed:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteBlockEditorRecommendedTagsModalDismissed
      summary: POST /wpcom/v2/sites/{wpcom_site}/block-editor/recommended-tags-modal-dismissed
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: putWpcomV2SitesbyWpcomSiteBlockEditorRecommendedTagsModalDismissed
      summary: PUT /wpcom/v2/sites/{wpcom_site}/block-editor/recommended-tags-modal-dismissed
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteBlockEditorRecommendedTagsModalDismissed
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/block-editor/recommended-tags-modal-dismissed
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/block-editor/should-show-first-post-published-modal:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteBlockEditorShouldShowFirstPostPublishedModal
      summary: GET /wpcom/v2/sites/{wpcom_site}/block-editor/should-show-first-post-published-modal
      tags:
      - block-editor
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
