openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Fsor Airtable Report API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: fsor-airtable-report
paths:
  /wpcom/v2/fsor-airtable-report/generate:
    post:
      operationId: postWpcomV2FsorAirtableReportGenerate
      summary: POST /wpcom/v2/fsor-airtable-report/generate
      tags:
      - fsor-airtable-report
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                view_id:
                  type: string
                  description: Airtable view ID.
                table_id:
                  type: string
                  description: Airtable table ID.
                base_id:
                  type: string
                  description: Airtable base ID.
                after_date:
                  type: string
                  format: date-time
                  description: The date to filter the records by (in ISO8601 format)
                cluster_method:
                  type: string
                  enum:
                  - kmedoids
                  - dbscan
                  description: 'The clustering method to use. Available options: kmedoids, dbscan.'
                num_clusters:
                  type: integer
                  description: The number of clusters to use.
                report_name:
                  type: string
                  description: The name of the report.
              required:
              - view_id
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
