openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Jetpack Sync Actions API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: jetpack-sync-actions
paths:
  /wpcom/v2/sites/{wpcom_site}/jetpack-sync-actions:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteJetpackSyncActions
      summary: POST /wpcom/v2/sites/{wpcom_site}/jetpack-sync-actions
      tags:
      - jetpack-sync-actions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codec:
                  type: string
                  enum:
                  - simple
                  - deflate-json
                  - deflate-json-array
                  description: The name of the codec that encodes the data.
                queue:
                  type: string
                  enum:
                  - sync
                  - immediate-send
                  - full_sync
                  description: The name of the Sync queue.
                timestamp:
                  type: number
                  description: Current server time so we can compensate for clock differences.
                cd:
                  type: string
                  description: Checkout_duration, aka time spent retrieving queue items from the DB.
                pd:
                  type: string
                  description: Preprocess duration, aka time spent converting queue items into data to send.
                buffer_id:
                  type: string
                  description: The ID of the Queue buffer checked out for processing.
                queue_size:
                  type: integer
                  description: Current size of Sync queue.
                timeout:
                  type: integer
                  default: 30
                  description: Request timeout
                sync_flow_type:
                  type: string
                  enum:
                  - default
                  - dedicated
                  description: Whether Sync actions are sent on shutdown (default) or in a separate dedicated request (dedicated).
                storage_type:
                  type: string
                  enum:
                  - options
                  - custom
                  description: Whether Sync actions are stored in the options table (options) or in a custom table (custom).
              required:
              - codec
              - queue
              - timestamp
              - cd
              - pd
    put:
      operationId: putWpcomV2SitesbyWpcomSiteJetpackSyncActions
      summary: PUT /wpcom/v2/sites/{wpcom_site}/jetpack-sync-actions
      tags:
      - jetpack-sync-actions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codec:
                  type: string
                  enum:
                  - simple
                  - deflate-json
                  - deflate-json-array
                  description: The name of the codec that encodes the data.
                queue:
                  type: string
                  enum:
                  - sync
                  - immediate-send
                  - full_sync
                  description: The name of the Sync queue.
                timestamp:
                  type: number
                  description: Current server time so we can compensate for clock differences.
                cd:
                  type: string
                  description: Checkout_duration, aka time spent retrieving queue items from the DB.
                pd:
                  type: string
                  description: Preprocess duration, aka time spent converting queue items into data to send.
                buffer_id:
                  type: string
                  description: The ID of the Queue buffer checked out for processing.
                queue_size:
                  type: integer
                  description: Current size of Sync queue.
                timeout:
                  type: integer
                  default: 30
                  description: Request timeout
                sync_flow_type:
                  type: string
                  enum:
                  - default
                  - dedicated
                  description: Whether Sync actions are sent on shutdown (default) or in a separate dedicated request (dedicated).
                storage_type:
                  type: string
                  enum:
                  - options
                  - custom
                  description: Whether Sync actions are stored in the options table (options) or in a custom table (custom).
              required:
              - codec
              - queue
              - timestamp
              - cd
              - pd
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteJetpackSyncActions
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/jetpack-sync-actions
      tags:
      - jetpack-sync-actions
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codec:
                  type: string
                  enum:
                  - simple
                  - deflate-json
                  - deflate-json-array
                  description: The name of the codec that encodes the data.
                queue:
                  type: string
                  enum:
                  - sync
                  - immediate-send
                  - full_sync
                  description: The name of the Sync queue.
                timestamp:
                  type: number
                  description: Current server time so we can compensate for clock differences.
                cd:
                  type: string
                  description: Checkout_duration, aka time spent retrieving queue items from the DB.
                pd:
                  type: string
                  description: Preprocess duration, aka time spent converting queue items into data to send.
                buffer_id:
                  type: string
                  description: The ID of the Queue buffer checked out for processing.
                queue_size:
                  type: integer
                  description: Current size of Sync queue.
                timeout:
                  type: integer
                  default: 30
                  description: Request timeout
                sync_flow_type:
                  type: string
                  enum:
                  - default
                  - dedicated
                  description: Whether Sync actions are sent on shutdown (default) or in a separate dedicated request (dedicated).
                storage_type:
                  type: string
                  enum:
                  - options
                  - custom
                  description: Whether Sync actions are stored in the options table (options) or in a custom table (custom).
              required:
              - codec
              - queue
              - timestamp
              - cd
              - pd
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
