openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Vibehost API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: vibehost
paths:
  /wpcom/v2/vibehost:
    get:
      operationId: getWpcomV2Vibehost
      summary: GET /wpcom/v2/vibehost
      tags:
      - vibehost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
    post:
      operationId: postWpcomV2Vibehost
      summary: POST /wpcom/v2/vibehost
      tags:
      - vibehost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blueprint:
                  type: object
                  description: The blueprint object to validate and apply.
                apply:
                  type: boolean
                  default: false
                  description: Whether to create the site and apply the blueprint.
              required:
              - blueprint
  /wpcom/v2/vibehost/export:
    get:
      operationId: getWpcomV2VibehostExport
      summary: GET /wpcom/v2/vibehost/export
      tags:
      - vibehost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: token
        in: query
        required: false
        schema:
          type: string
        description: Auth token ({blog_id}.{secret}). Alternative to X-Vibehost-Token header.
  /wpcom/v2/vibehost/update:
    post:
      operationId: postWpcomV2VibehostUpdate
      summary: POST /wpcom/v2/vibehost/update
      tags:
      - vibehost
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blueprint:
                  type: object
                  description: The blueprint object to validate.
                apply:
                  type: boolean
                  default: false
                  description: Whether to apply the blueprint after validation.
                token:
                  type: string
                  description: Auth token ({blog_id}.{secret}). Alternative to X-Vibehost-Token header.
              required:
              - blueprint
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
