openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Iap API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: iap
paths:
  /wpcom/v2/iap/notification:
    post:
      operationId: postWpcomV2IapNotification
      summary: POST /wpcom/v2/iap/notification
      tags:
      - iap
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/iap/orders:
    get:
      operationId: getWpcomV2IapOrders
      summary: GET /wpcom/v2/iap/orders
      tags:
      - iap
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: site_id
        in: query
        required: false
        schema:
          type: integer
        description: Site ID
    post:
      operationId: postWpcomV2IapOrders
      summary: POST /wpcom/v2/iap/orders
      tags:
      - iap
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                  description: Product ID
                price:
                  type: integer
                  description: Product Price
                appstore_country:
                  type: string
                  description: Country of the customer's AppStore
                currency:
                  type: string
                  description: Currency of the customer's purchase
                original_transaction_id:
                  type: string
                  description: Apple original transaction ID
                transaction_id:
                  type: string
                  description: Apple transaction ID
                purchase_token:
                  type: string
                  description: Google Play Purchase Token
                site_id:
                  type: integer
                  description: Site ID
              required:
              - product_id
              - price
  /wpcom/v2/iap/products:
    get:
      operationId: getWpcomV2IapProducts
      summary: GET /wpcom/v2/iap/products
      tags:
      - iap
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: site_id
        in: query
        required: false
        schema:
          type: integer
        description: Site ID
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
