openapi: 3.2.0
info:
  title: Automattic Global Styles API
  version: v2
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-by: API Evangelist enrichment pipeline
  x-refined-note:
  - x-derived-from differs across the merged source definitions and was not carried
  description: 'Operations tagged global-styles across 2 of this provider''s published API definitions: automattic-wordpress-com-wp-v2-openapi.yml, automattic-wordpress-com-wpcom-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: global-styles
paths:
  /wp/v2/sites/{wpcom_site}/global-styles/themes/{stylesheet}:
    get:
      operationId: getWpV2SitesbyWpcomSiteGlobalStylesThemesbyStylesheet
      summary: GET /wp/v2/sites/{wpcom_site}/global-styles/themes/{stylesheet}
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: stylesheet
        in: path
        required: true
        schema:
          type: string
    servers:
    - url: https://public-api.wordpress.com
  /wp/v2/sites/{wpcom_site}/global-styles/themes/{stylesheet}/variations:
    get:
      operationId: getWpV2SitesbyWpcomSiteGlobalStylesThemesbyStylesheetVariations
      summary: GET /wp/v2/sites/{wpcom_site}/global-styles/themes/{stylesheet}/variations
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: stylesheet
        in: path
        required: true
        schema:
          type: string
    servers:
    - url: https://public-api.wordpress.com
  /wp/v2/sites/{wpcom_site}/global-styles/{id}:
    get:
      operationId: getWpV2SitesbyWpcomSiteGlobalStylesbyId
      summary: GET /wp/v2/sites/{wpcom_site}/global-styles/{id}
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpV2SitesbyWpcomSiteGlobalStylesbyId
      summary: POST /wp/v2/sites/{wpcom_site}/global-styles/{id}
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: string
                  description: Title of the global styles variation.
    put:
      operationId: putWpV2SitesbyWpcomSiteGlobalStylesbyId
      summary: PUT /wp/v2/sites/{wpcom_site}/global-styles/{id}
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: string
                  description: Title of the global styles variation.
    patch:
      operationId: patchWpV2SitesbyWpcomSiteGlobalStylesbyId
      summary: PATCH /wp/v2/sites/{wpcom_site}/global-styles/{id}
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: string
                  description: Title of the global styles variation.
    servers:
    - url: https://public-api.wordpress.com
  /wp/v2/sites/{wpcom_site}/global-styles/{parent}/revisions:
    get:
      operationId: getWpV2SitesbyWpcomSiteGlobalStylesbyParentRevisions
      summary: GET /wp/v2/sites/{wpcom_site}/global-styles/{parent}/revisions
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of items to be returned in result set.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
    servers:
    - url: https://public-api.wordpress.com
  /wp/v2/sites/{wpcom_site}/global-styles/{parent}/revisions/{id}:
    get:
      operationId: getWpV2SitesbyWpcomSiteGlobalStylesbyParentRevisionsbyId
      summary: GET /wp/v2/sites/{wpcom_site}/global-styles/{parent}/revisions/{id}
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    servers:
    - url: https://public-api.wordpress.com
  /wpcom/v2/sites/{wpcom_site}/global-styles/status:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteGlobalStylesStatus
      summary: GET /wpcom/v2/sites/{wpcom_site}/global-styles/status
      tags:
      - global-styles
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    servers:
    - url: https://public-api.wordpress.com
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- automattic-wordpress-com-wp-v2-openapi.yml
- automattic-wordpress-com-wpcom-v2-openapi.yml
