openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Alerts API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: alerts
paths:
  /wpcom/v2/sites/{wpcom_site}/alerts:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteAlerts
      summary: GET /wpcom/v2/sites/{wpcom_site}/alerts
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteAlerts
      summary: POST /wpcom/v2/sites/{wpcom_site}/alerts
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                slug:
                  type: string
                version:
                  type: string
              required:
              - type
    put:
      operationId: putWpcomV2SitesbyWpcomSiteAlerts
      summary: PUT /wpcom/v2/sites/{wpcom_site}/alerts
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                slug:
                  type: string
                version:
                  type: string
              required:
              - type
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteAlerts
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/alerts
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                slug:
                  type: string
                version:
                  type: string
              required:
              - type
  /wpcom/v2/sites/{wpcom_site}/alerts/fix:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteAlertsFix
      summary: GET /wpcom/v2/sites/{wpcom_site}/alerts/fix
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: threat_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: integer
    post:
      operationId: postWpcomV2SitesbyWpcomSiteAlertsFix
      summary: POST /wpcom/v2/sites/{wpcom_site}/alerts/fix
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                threat_ids:
                  type: array
                  items:
                    type: integer
              required:
              - threat_ids
    put:
      operationId: putWpcomV2SitesbyWpcomSiteAlertsFix
      summary: PUT /wpcom/v2/sites/{wpcom_site}/alerts/fix
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                threat_ids:
                  type: array
                  items:
                    type: integer
              required:
              - threat_ids
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteAlertsFix
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/alerts/fix
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                threat_ids:
                  type: array
                  items:
                    type: integer
              required:
              - threat_ids
  /wpcom/v2/sites/{wpcom_site}/alerts/{id}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteAlertsbyId
      summary: GET /wpcom/v2/sites/{wpcom_site}/alerts/{id}
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postWpcomV2SitesbyWpcomSiteAlertsbyId
      summary: POST /wpcom/v2/sites/{wpcom_site}/alerts/{id}
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignore:
                  type: boolean
                  default: false
                unignore:
                  type: boolean
                  default: false
                fix:
                  type: boolean
                  default: false
    put:
      operationId: putWpcomV2SitesbyWpcomSiteAlertsbyId
      summary: PUT /wpcom/v2/sites/{wpcom_site}/alerts/{id}
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignore:
                  type: boolean
                  default: false
                unignore:
                  type: boolean
                  default: false
                fix:
                  type: boolean
                  default: false
    patch:
      operationId: patchWpcomV2SitesbyWpcomSiteAlertsbyId
      summary: PATCH /wpcom/v2/sites/{wpcom_site}/alerts/{id}
      tags:
      - alerts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignore:
                  type: boolean
                  default: false
                unignore:
                  type: boolean
                  default: false
                fix:
                  type: boolean
                  default: false
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
