openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace AI Launchpad API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: ai-launchpad
paths:
  /wpcom/v2/sites/{wpcom_site}/ai-launchpad:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteAiLaunchpad
      summary: GET /wpcom/v2/sites/{wpcom_site}/ai-launchpad
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: all_tasks
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Return the full task catalog instead of the tailored list (testing aid).
    delete:
      operationId: deleteWpcomV2SitesbyWpcomSiteAiLaunchpad
      summary: DELETE /wpcom/v2/sites/{wpcom_site}/ai-launchpad
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/ai-launchpad/available-tasks:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteAiLaunchpadAvailableTasks
      summary: GET /wpcom/v2/sites/{wpcom_site}/ai-launchpad/available-tasks
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: goal
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: The selected goal; sell keeps commerce tasks as available previews.
  /wpcom/v2/sites/{wpcom_site}/ai-launchpad/complete-task:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteAiLaunchpadCompleteTask
      summary: POST /wpcom/v2/sites/{wpcom_site}/ai-launchpad/complete-task
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: The acknowledgment task to mark complete.
              required:
              - task_id
  /wpcom/v2/sites/{wpcom_site}/ai-launchpad/skip-task:
    post:
      operationId: postWpcomV2SitesbyWpcomSiteAiLaunchpadSkipTask
      summary: POST /wpcom/v2/sites/{wpcom_site}/ai-launchpad/skip-task
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: The task to skip.
              required:
              - task_id
  /wpcom/v2/sites/{wpcom_site}/ai-launchpad/tailored:
    put:
      operationId: putWpcomV2SitesbyWpcomSiteAiLaunchpadTailored
      summary: PUT /wpcom/v2/sites/{wpcom_site}/ai-launchpad/tailored
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  enum:
                  - ai
                  - fallback
                  default: ai
                  description: Whether the payload came from the AI or the deterministic fallback. Query parameter; the JSON body must match the agent output schema exactly.
                duration_ms:
                  type: integer
                  description: Client-measured tailoring duration in milliseconds, for the tailored Logstash record.
                attempts:
                  type: integer
                  description: How many jetpack-ai-query attempts the client made, for the tailored Logstash record.
  /wpcom/v2/sites/{wpcom_site}/ai-launchpad/wizard:
    put:
      operationId: putWpcomV2SitesbyWpcomSiteAiLaunchpadWizard
      summary: PUT /wpcom/v2/sites/{wpcom_site}/ai-launchpad/wizard
      tags:
      - ai-launchpad
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                goal:
                  type: string
                  enum:
                  - write
                  - build
                  - sell
                  - newsletter
                  - educate
                  - portfolio
                  description: The site goal picked in the wizard.
                site_name:
                  type: string
                  description: The site name entered in the wizard.
                description:
                  type: string
                  description: The free-text site description entered in the wizard.
                locale:
                  type: string
                  default: en
                  description: The user locale.
              required:
              - goal
              - site_name
              - description
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
