openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Zendesk Notification API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: zendesk-notification
paths:
  /wpcom/v2/zendesk-notification/a8c/message:
    post:
      operationId: postWpcomV2ZendeskNotificationA8CMessage
      summary: POST /wpcom/v2/zendesk-notification/a8c/message
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/a8c/ticket:
    post:
      operationId: postWpcomV2ZendeskNotificationA8CTicket
      summary: POST /wpcom/v2/zendesk-notification/a8c/ticket
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/a8c/user-created:
    post:
      operationId: postWpcomV2ZendeskNotificationA8CUserCreated
      summary: POST /wpcom/v2/zendesk-notification/a8c/user-created
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/a8c/user-deleted:
    post:
      operationId: postWpcomV2ZendeskNotificationA8CUserDeleted
      summary: POST /wpcom/v2/zendesk-notification/a8c/user-deleted
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/a8c/user-external-id-changed:
    post:
      operationId: postWpcomV2ZendeskNotificationA8CUserExternalIdChanged
      summary: POST /wpcom/v2/zendesk-notification/a8c/user-external-id-changed
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/tumblr/message:
    post:
      operationId: postWpcomV2ZendeskNotificationTumblrMessage
      summary: POST /wpcom/v2/zendesk-notification/tumblr/message
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/tumblr/tos:
    post:
      operationId: postWpcomV2ZendeskNotificationTumblrTos
      summary: POST /wpcom/v2/zendesk-notification/tumblr/tos
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/woothemes/ai-reply:
    post:
      operationId: postWpcomV2ZendeskNotificationWoothemesAiReply
      summary: POST /wpcom/v2/zendesk-notification/woothemes/ai-reply
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpcom/v2/zendesk-notification/woothemes/ticket:
    post:
      operationId: postWpcomV2ZendeskNotificationWoothemesTicket
      summary: POST /wpcom/v2/zendesk-notification/woothemes/ticket
      tags:
      - zendesk-notification
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
