openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Push Notifications API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: push-notifications
paths:
  /wpcom/v2/sites/{wpcom_site}/push-notifications:
    post:
      operationId: postWpcomV2SitesbyWpcomSitePushNotifications
      summary: POST /wpcom/v2/sites/{wpcom_site}/push-notifications
      tags:
      - push-notifications
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - store_order
                  - store_review
                  - store_stock
                  description: The notification type (e.g., store_order, store_review, store_stock).
                title:
                  type: object
                  description: The title to display in the notification.
                message:
                  type: object
                  description: The message to display in the notification.
                icon:
                  type: string
                  description: The icon to use in the notification (optional).
                timestamp:
                  type: string
                  description: The timestamp this notification was generated.
                resource_id:
                  type: integer
                  description: The ID of the resource this notification relates to, e.g. order ID, review ID.
                meta:
                  type: object
                  description: Any extra meta data that is relevant to the notification.
                tokens:
                  type: array
                  items:
                    type: object
                  description: An array of notifications to send
              required:
              - type
              - title
              - message
              - timestamp
              - resource_id
              - tokens
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
