openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Seen Posts API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: seen-posts
paths:
  /wpcom/v2/seen-posts/seen/all/new:
    post:
      operationId: postWpcomV2SeenPostsSeenAllNew
      summary: POST /wpcom/v2/seen-posts/seen/all/new
      tags:
      - seen-posts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                feed_ids:
                  type: array
                  items: {}
                source:
                  type: string
                  enum:
                  - notification-web
                  - notification-ios
                  - notification-android
                  - reader-web
                  - reader-ios
                  - reader-android
                  - frontend
                  - frontend-p2
              required:
              - feed_ids
              - source
  /wpcom/v2/seen-posts/seen/blog/delete:
    post:
      operationId: postWpcomV2SeenPostsSeenBlogDelete
      summary: POST /wpcom/v2/seen-posts/seen/blog/delete
      tags:
      - seen-posts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                post_ids:
                  type: array
                  items: {}
                source:
                  type: string
                  enum:
                  - notification-web
                  - notification-ios
                  - notification-android
                  - reader-web
                  - reader-ios
                  - reader-android
                  - frontend
                  - frontend-p2
              required:
              - blog_id
              - post_ids
              - source
  /wpcom/v2/seen-posts/seen/blog/new:
    post:
      operationId: postWpcomV2SeenPostsSeenBlogNew
      summary: POST /wpcom/v2/seen-posts/seen/blog/new
      tags:
      - seen-posts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blog_id:
                  type: integer
                post_ids:
                  type: array
                  items: {}
                source:
                  type: string
                  enum:
                  - notification-web
                  - notification-ios
                  - notification-android
                  - reader-web
                  - reader-ios
                  - reader-android
                  - frontend
                  - frontend-p2
              required:
              - blog_id
              - post_ids
              - source
  /wpcom/v2/seen-posts/seen/delete:
    post:
      operationId: postWpcomV2SeenPostsSeenDelete
      summary: POST /wpcom/v2/seen-posts/seen/delete
      tags:
      - seen-posts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                feed_id:
                  type: integer
                feed_item_ids:
                  type: array
                  items: {}
                source:
                  type: string
                  enum:
                  - notification-web
                  - notification-ios
                  - notification-android
                  - reader-web
                  - reader-ios
                  - reader-android
                  - frontend
                  - frontend-p2
              required:
              - feed_id
              - feed_item_ids
              - source
  /wpcom/v2/seen-posts/seen/new:
    post:
      operationId: postWpcomV2SeenPostsSeenNew
      summary: POST /wpcom/v2/seen-posts/seen/new
      tags:
      - seen-posts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                feed_id:
                  type: integer
                feed_item_ids:
                  type: array
                  items: {}
                source:
                  type: string
                  enum:
                  - notification-web
                  - notification-ios
                  - notification-android
                  - reader-web
                  - reader-ios
                  - reader-android
                  - frontend
                  - frontend-p2
              required:
              - feed_id
              - feed_item_ids
              - source
  /wpcom/v2/seen-posts/unseen/status:
    get:
      operationId: getWpcomV2SeenPostsUnseenStatus
      summary: GET /wpcom/v2/seen-posts/unseen/status
      tags:
      - seen-posts
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
