openapi: 3.2.0
info:
  title: WordPress.com REST API — wpcom/v2 namespace Cmp API
  version: v2
  description: Derived by API Evangelist from the WordPress.com REST API route index published at https://public-api.wordpress.com/wpcom/v2/. Paths, HTTP methods, and parameter names/types/descriptions/defaults are taken verbatim from that index. Response schemas are not published in the route index, so successful responses are described but not schematised; the error envelope was observed live on public-api.wordpress.com.
  contact:
    name: Automattic
    url: https://developer.wordpress.com/docs/api/
  x-derived-from: https://public-api.wordpress.com/wpcom/v2/
  x-derived-by: API Evangelist enrichment pipeline
servers:
- url: https://public-api.wordpress.com
security:
- bearerAuth: []
tags:
- name: cmp
paths:
  /wpcom/v2/sites/{wpcom_site}/cmp/configuration/{locale}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteCmpConfigurationbyLocale
      summary: GET /wpcom/v2/sites/{wpcom_site}/cmp/configuration/{locale}
      tags:
      - cmp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: _jsonp
        in: query
        required: true
        schema:
          type: string
        description: JSONP callback
  /wpcom/v2/sites/{wpcom_site}/cmp/vendors/{language}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteCmpVendorsbyLanguage
      summary: GET /wpcom/v2/sites/{wpcom_site}/cmp/vendors/{language}
      tags:
      - cmp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: language
        in: path
        required: true
        schema:
          type: string
  /wpcom/v2/sites/{wpcom_site}/cmp/v{gvl_specification_version}/vendors/{language}:
    get:
      operationId: getWpcomV2SitesbyWpcomSiteCmpVGvlSpecificationVersionVendorsbyLanguage
      summary: GET /wpcom/v2/sites/{wpcom_site}/cmp/v{gvl_specification_version}/vendors/{language}
      tags:
      - cmp
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: wpcom_site
        in: path
        required: true
        schema:
          type: string
      - name: gvl_specification_version
        in: path
        required: true
        schema:
          type: string
      - name: language
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WPRestError:
      type: object
      description: WordPress REST API error envelope (observed on public-api.wordpress.com).
      properties:
        code:
          type: string
          example: rest_unauthorized
        message:
          type: string
          example: Authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              example: 401
  securitySchemes:
    oauth2:
      type: oauth2
      description: WordPress.com OAuth 2.1, per https://public-api.wordpress.com/.well-known/openid-configuration
      flows:
        authorizationCode:
          authorizationUrl: https://public-api.wordpress.com/oauth2-1/authorize
          tokenUrl: https://public-api.wordpress.com/oauth2-1/token
          refreshUrl: https://public-api.wordpress.com/oauth2-1/token
          scopes:
            global: ''
            auth: ''
            openid: ''
            profile: ''
            email: ''
            users: ''
            sites: ''
            posts: ''
            comments: ''
            taxonomy: ''
            follow: ''
            sharing: ''
            freshly-pressed: ''
            notifications: ''
            insights: ''
            read: ''
            stats: ''
            media: ''
            menus: ''
            batch: ''
            videos: ''
    bearerAuth:
      type: http
      scheme: bearer
